@import '_variables';

body.about {
	background-color: $white;
	font-family: 'Knockout 48 A', 'Knockout 48 B';
	.top-background {
		background-image: image-url("page_about/top_background.jpg");
	}
	.content{
		height: 2000px;
		top: 750px;
		@media only screen and (max-width: $layout_change_width) {
			height: 2500px;
		}	
		#capabilities {
			width: 255px;
			height: 463px;
			background-color: $white;
			position: absolute;
			top: -420px;
			right: 20%;
			color: black;
			text-align: center;
			font-family: 'Gotham A', 'Gotham B';
			@media only screen and (max-width: $layout_change_width) {
				top: -100px;
				left: 50%;
				margin-left: -125px;
			}	
			h1 {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.6em;
				margin-top: 50px;
			}
			ul {
				list-style: none;
				h2 {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.7em;
					margin: 40px 0 20px 0;
					letter-spacing: 1.0px;
				}
				p {
					font-size: 0.4em;
					letter-spacing: 0.2px;
				}
			}
		}
		.top-drops {
			background-image: image-url("page_about/top_drops.png");
			background-repeat: no-repeat;
			background-position: left top;
			background-size: contain;	
			position: absolute;
			top: 140px;
			right: 1%;
			width: 55px;
			height: 215px;	
			@media only screen and (max-width: $layout_change_width) {
				left: 1%;
			}		
		}
		.middle-insert {
			position: absolute;
			top: 140px;
			left: 10%;
			width: 408px;
			height: 750px;
			background-image: image-url("page_about/textbox_with_drops.png");
			background-repeat: no-repeat;
			background-position: left top;
			background-size: contain;
			font-family: 'Gotham A', 'Gotham B';
			font-size: 1.1em;
			padding: 30px;
			line-height: 40px;
			color: white;
			@media only screen and (max-width: $layout_change_width) {
				top: 500px;
				left: 50%;
				margin-left: -204px;
			}	
		}
		.fancy-text {
			background-image: image-url("page_about/fancy_text.png");
			background-repeat: no-repeat;
			background-position: left top;	
			position: absolute;
			background-size: contain;
			top: 500px;
			right: 0;
			width: 192px;
			height: 666px;	
			@media only screen and (max-width: $layout_change_width) {
				top: 1300px;
				background-size: contain;
				width: 150px;
				opacity: 0.2;
			}		
		}
		.lower-drops {
			background-image: image-url("page_about/lower_drops.png");
			background-repeat: no-repeat;
			background-position: left top;
			background-size: contain;	
			position: absolute;
			top: 1250px;
			right: 25%;
			width: 100px;
			height: 215px;	
			@media only screen and (max-width: $layout_change_width) {
				top: 1900px;
				left: 12%;
				-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
			}			
		}
		.lower-insert {
			position: absolute;
			top: 790px;
			left: 15%;
			width: 295px;
			height: 750px;
			font-family: 'Gotham A', 'Gotham B';
			text-align: left;
			color: black;
			@media only screen and (max-width: $layout_change_width) {
				top: 1200px;
				left: 23%;
			}	
			ul {
				list-style: none;
			}
			h1 {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.6em;
			}
			h2 {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.9em;
				margin: 50px 0 5px 0;
				letter-spacing: 1.2px;
			}
			h3 {
				font-family: 'Georgia';
				font-style: italic;
				font-size: 0.8em;
				font-weight: 100;
				letter-spacing: 0.8px;
			}
			p {
				font-size: 0.7em;
				line-height: 15px;
				margin: 30px 0;
				letter-spacing: 0.3px;
			}
		}
		.work-with-us {
			position: absolute;
			top: 1650px;
			@media only screen and (max-width: $layout_change_width) {
				top: 2180px;
			}	
		}
	}
}
