$mobile-width: 640px;

body.about {
	background-color: white;
	font-family: 'Knockout 48 A', 'Knockout 48 B';
	.top-background {
		background-image: image-url("page_about/top_background.jpg");
	}
	.work-with-us {
	    margin-top: 30px;
	}

	.content{
		background: url(/images/page_about/top-stroke.jpg) 0 -175px no-repeat #fff;
		background-size: 100% 10%;
		@media only screen and (max-width: 818px) {
			background-size: 100% 7%;
		}
			
		.top-insert-outline {
			  border: 1px solid black; }
			  
		.top-insert {
			  background-color: black;}
			  
		.top-insert h1 {
			   color: white;}
			   
		.top-insert h2 { 
			   color: white;
			 }
		.portfolio-text-insert {
			width: 510px;
		}	 
		.portfolio-text-insert h2 {
		  	color: #000;
		    font-family: 'Didot';
		    font-size: 40px;
		    font-weight: 500;
		    letter-spacing: 5px;
		    line-height: 70px;
		    margin-bottom: 25px;
		    margin-top: 50px;
		    text-transform: uppercase; 
			@media only screen and (max-width: $mobile-width) {
				font-size: 22px;
				}
			}	 
	
		#capabilities {
			width: 255px;
			height: 463px;
			background-color: white;
			position: absolute;
			top: -420px;
			right: 20%;
			color:black;
			text-align: center;
			font-family: 'Gotham A', 'Gotham B';
			@media only screen and (max-width: $mobile-width) {
				top: -100px;
				width: 390px;
				height: 730px;
				left: 50%;
				margin-left: -195px;
			}	
			h1 {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.6em;
				margin-top: 50px;
				@media only screen and (max-width: $mobile-width) {
					margin-top: 75px;
					font-size: 0.7em;
				}	
			}
			ul {
				list-style: none;
				h2 {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.7em;
					margin: 40px 0 20px 0;
					letter-spacing: 1.0px;
					@media only screen and (max-width: $mobile-width) {
						margin: 70px 0 30px 0;
						font-size: 0.9em;
					}
				}
				p {
					font-size: 0.4em;
					letter-spacing: 0.2px;
					@media only screen and (max-width: $mobile-width) {
						font-size: 0.7em;
						letter-spacing: 0.4px;
						line-height: 14px;
					}
				}
			}
		}
		.middle-content {
			max-width: 1070px;
			margin: 0 auto;
			position: relative;
			img {
				width: 100%;
			}
			p {
				font-family: 'Gotham A', 'Gotham B';
			}
			.row {
				
				// border: 1px solid blue;
				p {
					line-height: 26px;
				}
				.block-half {
					position: relative;
					width: 49.9%;
					display: inline-block;
					// border: 1px dashed red;
					h3 {
						font-family: 'Gotham A', 'Gotham B';
						font-weight: normal;
					}
					@media only screen and (max-width: 818px) {
						width: 100%;
					}
				}
				.block1 {
															
				}
				.block2 {

				}
			}
			#row1 {
				height: 390px;
				position: relative;
				@media only screen and (max-width: 818px) {
					height: auto;
					text-align: center;
				}
				#black-drip {
					position: relative;
					left: 50px;
					line-height: 38px;
					@media only screen and (max-width: 818px) {
						top: 50px;
						text-align: left;
						left: 0;
						width: 100%;
						line-height: 26px;
					}
					#behind-the-name {
						color: gray;
						text-align: center;
					}
				}
				#dfm-stamp {
					width: 40%;
				}
				.block1 {
					text-align: right;
					position: relative;
					top: 20px;
					@media only screen and (max-width: 818px) {
						text-align: center;

					}
				}
				.block2 {
					height: 535px;
					background-image: image-url("page_about/DFM_about_blackbox.png");
					background-repeat: no-repeat;
					background-position: left top;
					background-size: contain;
					font-family: 'Gotham A', 'Gotham B';
					font-size: 1.1em;
					padding: 30px;
					line-height: 40px;
					color: white;
					width: 408px;
				}
			}
			#row2 {
				@media only screen and (max-width: 818px) {
					text-align: center;
				}
				#moodboard {
					width: 95%;

				}
				.block2 {
					width: 355px;
					vertical-align: top;
					position: relative;
					top: 70px;
					left: 12px;
					@media only screen and (max-width: 1014px) {
						top: 0;
					}
					@media only screen and (max-width: 818px) {
						text-align: left;
						top: 50px;
						width: 275px;
						left: 0;
					}
					p {
						margin-bottom: 30px;
						
					}
				}
			}
			#row3 {
				height: 585px;
				@media only screen and (max-width: 818px) {
					height: auto;
				}
				.block1 {
					vertical-align: top;
					width: 60%;
					z-index: 99;
					@media only screen and (max-width: 1014px) {
						// text-align: center;
					}
					@media only screen and (max-width: 818px) {
						width: 100%;
						text-align: center
					}
					p {
						width: 325px;
						@media only screen and (max-width: 818px) {
							width: auto;
							text-align: left;
						}
						
					}
					.text {
						position: relative;
						top: 100px;
						@media only screen and (max-width: 818px) {
							width: 275px;
							display: inline-block;
						}
						#quote {
							margin-top: 100px;
							
						}
					}
				}
				.block2 {
					position: absolute;
					right: 0;
					@media only screen and (max-width: 818px) {
						position: relative;
						margin-top: 220px;
					}
				}
			}
			#row4 {
				@media only screen and (max-width: 818px) {
					text-align: center;
				}
				.block1 {
					@media only screen and (max-width: 818px) {
						margin-top: 60px;
					}
				}
				.block2 {
					width: 475px;
					vertical-align: top;
					position: relative;
					top: 70px;
					left: 12px;
					@media only screen and (max-width: 818px) {
						left: 0;
						text-align: left;
						width: 275px;
						top: 0;
						margin-top: 70px;
					}
					p {
						margin-bottom: 30px;
						
					}
				}
			}
			#row5 {
				position: relative;
				.block-full {
					width: 62%;
					margin: 0 auto;
					@media only screen and (max-width: 818px) {
						width: 275px;
						margin-bottom: 50px;
					}

				}
				
			}
			#splatter {
				position: absolute;
				width: 115px;
				right: 0;
				top: 0;
				@media only screen and (max-width: 818px) {
					display: none;
				}
			}
		}



















		.middle-container {
			position: relative;
			height: 530px;
			width: 90%;
			margin: 0 auto;
			@media only screen and (max-width: 818px) {
				height: 500px;
			}
			div {
				position: absolute;
			}
			.top-content-insert {
				top: 0;
				left: 8.33%;
				width: 408px;
				height: 260px;
				font-family: 'Gotham A', 'Gotham B';
				font-size: 1.1em;
				padding: 30px;
				line-height: 40px;
				color: white;
				@media only screen and (max-width: $mobile-width) {
					left: 50%;
					margin-left: -204px;
					top: 70px;
				}
				@media only screen and (max-width: 450px) {
					width: 320px;
					height: 573px;
					left: 50%;
					margin-left: -160px;
					background-size: cover;
					font-size: 0.9em;
					line-height: 30px;
				}
					
			}
			#mentioned {
				height: 360px;
				width: 100%;
				// left: 42.5%;
				top: 100px;
				text-align: center;
				//background: yellow;
				@media only screen and (max-width: 1100px) {
					display: none;
				}
				@media only screen and (max-width: 818px) {
					display: block;
					margin: 0 auto;
					position: relative;
					width: 90%;
					left: auto;
					
				}
			}

			#recentlyfeatured {
				width: 100%;
				position: static;
				height: 75px;	
				display: block;
				margin: 0 auto;
				font-family: 'Gotham A', 'Gotham B';
				font-weight: bold;
				font-size: 0.6em;
				//border: 2px solid black;
				//background-image: image-url("page_about/recentlyfeatured.png");
				background-repeat: no-repeat;
				background-position: left top;
				background-size: contain;	
				@media only screen and (max-width: $mobile-width) {
					top: 167px;
					height: 40px;
				}
			}
			.featured {
				width: 100%;
				img {
					width: 50%;
				}
				#refinery29 {
					width: 49.8%;
					position: static;
					// height: 215px;	
					display: inline-block;
					margin: 0 auto;
					//border: 2px solid black;
					// background-image: image-url("page_about/refinery29.png");
					// background-repeat: no-repeat;
					// background-position: left top;
					// background-size: contain;	
					@media only screen and (max-width: 818px) {
						width: 100%;
						// top: 167px;
						// height: 144px;
						margin-bottom: 100px;
					}
					img {
						width: 40%
					}
				}
				#designsponge {

					width: 49.8%;
					display: inline-block;
					margin: 0 auto;
					//border: 2px solid black;
					// height: 215px;	
					position: static;
					// background-image: image-url("page_about/designsponge.jpg");
					// background-repeat: no-repeat;
					// background-position: left bottom;
					// background-size: contain;	
					@media only screen and (max-width: 818px) {
						width: 100%;
						margin-bottom: 100px;
						img {
							width: 100%;
						}

					}	
				}
			}
			.middle-insert {
				top: 0;
				right: 8.33%;
				width: 408px;
				height: 535px;
				background-image: image-url("page_about/DFM_about_blackbox.jpg");
				background-repeat: no-repeat;
				background-position: left top;
				background-size: contain;
				font-family: 'Gotham A', 'Gotham B';
				font-size: 1.1em;
				padding: 30px;
				line-height: 40px;
				color: white;
				@media only screen and (max-width: $mobile-width) {
					left: 50%;
					margin-left: -204px;
					top: 70px;

				}
				@media only screen and (max-width: 450px) {
					width: 320px;
					height: 573px;
					left: 50%;
					margin-left: -160px;
					background-size: cover;
					font-size: 0.9em;
					line-height: 30px;
				}	
			}
			.fancy-text {
				top: 500px;
				right: 5%;
				width: 22%;
				height: 666px;	
				background-image: image-url("page_about/fancy_text.png");
				background-repeat: no-repeat;
				background-position: left top;	
				background-size: contain;
				@media only screen and (max-width: $mobile-width) {
					top: 850px;
					width: 150px;
					opacity: 0.2;
				}		
			}
			.lower-insert {
				top: 435px;
				left: 15%;
				width: 475px;
				height: 750px;
				font-family: 'Gotham A', 'Gotham B';
				text-align: left;
				color: black;
				@media only screen and (max-width: $mobile-width) {
					left: 23%;
				}	
				@media only screen and (max-width: 450px) {
					left: 5%;
				}	
				ul {
					list-style: none;
				}
				h1 {
					font-weight: bold;
					text-transform: uppercase;
					font-size: 0.6em;
				}
				h2 {
					font-weight: bold;
					text-transform: uppercase;
					font-size: 0.9em;
					margin: 50px 0 5px 0;
					letter-spacing: 1.2px;
				}
				h3 {
					font-family: 'Georgia';
					font-style: italic;
					font-size: 0.8em;
					font-weight: 100;
					letter-spacing: 0.8px;
				}
				p {
					font-size: 0.7em;
					line-height: 15px;
					margin: 30px 0;
					letter-spacing: 0.3px;
				}
				img {
					width: 100%;
				}
			}
			.lower-drops {
				top: 1400px;
				right: 28.4%;
				width: 100px;
				height: 215px;	
				background-image: image-url("page_about/lower_drops.png");
				background-repeat: no-repeat;
				background-position: left top;
				background-size: contain;	
				@media only screen and (max-width: $mobile-width) {
					top: 1675px;
					right: 5%;
					-moz-transform: scaleX(-1);
	        -o-transform: scaleX(-1);
	        -webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
				}			
			}
		}
	}
}
