$layout-change-width: 785px; 

body.index {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0,0,0);
  -webkit-font-smoothing: antialiased;
  .hide-mobile {
    display: block;
    @media only screen and (max-width: $layout-change-width) {
      display: none;
    }
  }
  .show-mobile {
    display: none;
    @media only screen and (max-width: $layout-change-width) {
      display: block;
      #kavaldon-link-mobile {
        display: inline-block;
        position: absolute;
        margin: 0 auto;
        left: 28%;
        background-color: yellow;
        width: 45%;
        height: 325px;
        opacity: 0;
        a:hover {
          cursor: pointer;
        }
      }
    }
  }
  #top {
    position: relative;

    // top section adjusts to video proportions
    padding-top: 37.4%;
    overflow: hidden;
    @media only screen and (max-width: $layout-change-width) {
      padding-top: 56%;
    }

    #video {
      position: absolute;
      top: 0;
      left: 0;
      width: 66.6666666%;
      transition: all 200ms ease-in;
      @media only screen and (max-width: $layout-change-width) {
        width: 100%;
      }
      video {
        width: 100%;
        z-index: 0;
        background-image: image-url("page_index/single_frame.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    /*  video::-webkit-media-controls {
        display:none !important;
      }*/
    } 
    .feature-image {
      position: absolute;
      top: 0;
      left: 66.666666%;
      width: 33.3333333%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: rgb(255,255,255);

      #kavaldon-link {
        display: inline-block;
        position: absolute;
        margin: 0 auto;
        left: 28%;
        top: 25%;
        background-color: gray;
        width: 45%;
        height: 66%;
        opacity: 0;
        a:hover {
          cursor: pointer;
        }
      }
    }
  }
  .candle-smoke {
    background-image: image-url("page_index/candle_smoke.gif");
  }
  .candle-flame {
    background-image: image-url("page_index/candle_flame.gif"); 
  }
  #services .hover, #social .hover {
    float: left;
    display: inline-block;
    text-align: center;
    position: relative;
    color: rgb(255,255,255);
    .image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;  
      background-position: center;
      z-index: 1;  
      position: absolute;
      top: 0;
    } 
  }
  #services {

    .hover {
      width: 33.3333333%; 
      height: 520px;
      @media only screen and (max-width: $layout-change-width)  {
        width: 50%;
        height: 390px;
      }
      a {
        display: inline-block;
        color: rgba(255,255,255,1);
        border-bottom-width: 3px;
        border-bottom-color: rgba(255,255,255, 1);
        border-bottom-style: solid;
        padding-bottom: 5px;
        text-decoration: none;
        margin: 50px 0px 15px 0px;
        font-size: 1.2em;
        text-transform: uppercase;
        font-family: 'Gotham A', 'Gotham B';
        transition: all 300ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          margin-top: 42px;
        }
      }
      a:hover {
        border-bottom-color: transparent;
      }

      /****** hit states for menus ******/

      .hidden-hover {
        display: inline-block;
        position: absolute;
        margin: 0 auto;
        background-color: yellow;
        width: 30px;
        height: 30px;
        opacity: 0;
        a:hover {
          cursor: pointer;
        }
      }

      #branding-link {
        left: 28%;
        top: 5%;
        width: 45%;
        height: 50%;
      }

      #graphic-link {
        left: 45px;
        top: 30px;
        width: 70%;
        height: 30%;
      }

      #imagery-link {
        left: 45px;
        top: 42%;
        width: 70%;
        height: 30%;
      }

      #website-link {
        left: 25%;
        top: 5%;
        width: 45%;
        height: 50%;
      }

      #retail-link {
        left: 25%;
        top: 5%;
        width: 45%;
        height: 60%;
      }

      /***** end hit states *******/

      ol, ul {
        list-style: none;
        line-height: 1.7em;
        font-family: 'Georgia';
        font-style: italic;
        @media only screen and (max-width: $layout-change-width)  {
          line-height: 1.5em;
          font-size: 0.8em;
        }
      }
      .department {
        text-align: center;
        text-transform: uppercase;
        color: rgb(255,255,255);
        font-size: 4.5em;
        margin: 30px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-family: 'Knockout 48 A', 'Knockout 48 B';
        font-weight: 400;
        font-style: normal; 
        z-index: 2;
        transition: all 200ms ease-in-out;
        @media only screen and (max-width: 1060px){
          font-size: 3em;
        }
        @media only screen and (max-width: $layout-change-width){
          font-size: 2.2em;
        }
      }
    }
    .hover:nth-of-type(1) .image {
      background-image: image-url("page_index/hover_red.jpg");
    }
    .hover:nth-of-type(2) .image {
      background-image: image-url("page_index/DFM_homepage_CREATIVE.jpg");
    }
    .hover:nth-of-type(3) .image {
      background-image: image-url("page_index/hover_orange.jpg");
    }
    .hover:nth-of-type(4) .image {
      background-image: image-url("page_index/hover_blue.jpg");
    }
    .feature-image {
      position: static;
      height: 340px;
      width: 100%;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: rgb(255,255,255);
    }
    #about-blurb {
      color: white;
      display: inline-block;
      font-family: 'Gotham A', 'Gotham B';
      font-size: 1em;
      height: 520px;
      line-height: 40px;
      overflow: hidden;
      position: relative;
      text-align: left;
      transition: all 200ms ease-in 0s;
      width: 66.6667%;
      padding: 50px 70px 50px 100px;
      text-transform: uppercase;
      background: url(/images/page_index/dfm-logo-blurb.png) 0 385px no-repeat #000;
      background-size: 100%;
      background-position: 0 310px;
      #text {
        @media only screen and (max-width: 575px) {

        }
      }
      @media only screen and (max-width: 1720px)  {
        background-position: 0 320px;
      } 
      @media only screen and (max-width: 1250px)  {
        background-position: 0 380px;
      } 
      @media only screen and (max-width: 1100px)  {
        line-height: 40px;
      }   
      @media only screen and (max-width: 1050px)  {
        background-position: 0 420px;
      } 
      @media only screen and (max-width: 963px)  {
        background-position: 0 440px;
      } 
      @media only screen and (max-width: 923px)  {
        background-position: 0 380px;
        line-height: 30px;
      } 
      @media only screen and (max-width: 923px)  {
        background-position: 0 440px;
      }
      @media only screen and (max-width: 585px)  {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 15px;
      } 
      @media only screen and (max-width: $layout-change-width)  {
        width: 100%;
        height: 300px;
        font-size: 0.8em;
        line-height: 1.3em;
        font-weight: 100;
      }
      .home-work{
        color: #fd8ec8;
        font-family:Georgia;
        text-transform:none;
        font-style:italic;
        a {
          text-decoration: none;
          color: #fd8ec8;
          }
        }
      
      #slider-container {
        position: absolute;
        top: 0;
        bottom: 12%;
        width: 100%;
        overflow: hidden;
      }
      .slider {
        list-style: none;
        .slide {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          padding: 5%;
        }
        #slide-2 {
          line-height: 3.7vw;
          @media only screen and (max-width: $layout-change-width) {
            line-height: 14px;
            font-size: 14px;
          }
        }
        #slide-3 {
          @media only screen and (max-width: $layout-change-width) {
            font-size: 14px;
          }
        }
      }
      #slider-buttons {
        position: absolute;
        bottom: 0;
        height: 12%;
        width: 100%;
        padding: 0 5%;
      }
      #left-button, #right-button {
        display: inline-block;
        cursor: pointer;
        width: 30px;
        height: 50px;
        margin-top: -30px;
      }
      #left-button {
        float: left;
      }
      #right-button {
        float: right;
      }
    }
  }
  #social {
    position: relative;
    padding-top: 30%;
    .hover {
      position: absolute;
      top: 0;
      width: 33.333333%;
      height: 100%;
      padding-top: 15%;
      text-transform: uppercase;
      font-size: 1.0em;
      a {
        text-decoration: none;
        color: rgb(255,255,255);
        font-weight: bold;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        line-height: 15px;
        -webkit-transition: border 500ms ease;
        -moz-transition: border 500ms ease;
        -ms-transition: border 500ms ease;
        -o-transition: border 500ms ease;
        transition: border 500ms ease;
        &:hover {
          border-bottom: 1px solid rgba(255, 255, 255, 1);
        }
      }
      @media only screen and (max-width: 477px) {
        padding-top: 0;
      }
      @media only screen and (max-width: $layout-change-width) {
        height: 100%;
        font-size: 0.7em;
      }
    }
    .hover:nth-of-type(1) {
      left: 0;
    }
    .hover:nth-of-type(2) {
      left: 33.333333%;
    }
    .hover:nth-of-type(3) {
      left: 66.666666%;
    }
    .hover:nth-of-type(1) .image {
      //background-image: image-url("page_index/dfm-social-ig.jpg");
      overflow: hidden;
    }
    .hover:nth-of-type(2) .image {
      background-image: image-url("page_index/dfm-social-blog.jpg");
    }
    .hover:nth-of-type(3) .image {
      background-image: image-url("page_index/dfm-social-pinterest.jpg");
    }
  }
}