body.AVF {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_AVF/top_background.jpg");
  }
  .parallax-background {
    background-image: image-url("page_AVF/pink_thing.jpg");
  }
  .content {
    background-color: transparent;
    .image-container {
      position: relative;
      padding-top: 260%;
      margin-top: 100px;
      img {
        position: absolute;
      }
      #white-bags {
        width: 40%;
        top: 0;
        right: 0;
      }
      #white-boxes {
        width: 45%;
        top: 6%;
        left: 7%;
      }
      #colored-squares {        
        width: 25%;
        top: 22%;
        right: 20%;
      }
      #backgammon-closed {
        width: 31%;
        top: 27%;
        left: 2%;
      }
      #backgammon-open {
        width: 33%;
        top: 36%;
        left: 20%;
        z-index: 1;
      }
      #blue-glass {
        width: 41%;
        top: 41%;
        left: 0%;
      }
      #green-glass {
        width: 50%;
        top: 33%;
        right: -5;
      }
      #pink-table {
        width: 24%;
        top: 56%;
        left: 10%;
      }
      #green-square {
        width: 55%;
        top: 63%;
        left: 35%; 
      }
      #flower {
        width: 25%;
        top: 80%;
        left: 8%;
      }
      #brown-bowl {
        width: 55%;
        top: 80%;
        left: 35%;
      }
    }
  }
}