body.selvarey {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_selvarey/top_background.jpg");
  }
  .parallax-background {
    background-image: image-url("page_selvarey/gold_tree.jpg");
  }
  .content{
    background-color: transparent;
    .image-container {
      position: relative;
      padding-top: 140%;
      margin-top: 100px;
      img {
        position: absolute;
      }
      #logo-text {
        width: 50%;
        top: 0%;
        right: 10%;
      }
      #bottle {
        width: 45%;
        top: 15%;
        left: 5%;
      }
      #tshirt {
        width: 32%;
        top: 6%;
        left: 42%;
        z-index: 1;
      }
      #booth-design {
        width: 39%;
        top: 28%;
        right: 5%;
      }
      #bag {
        width: 38%;
        top: 47%;
        right: 0%;
      }
      #cacao-rocks {
        width: 45%;
        top: 70%;
        left: 5%;
        z-index: 1;
      }
      #rey-rocks {
        width: 45%;
        top: 79%;
        left: 35%;
      }
    }
  }

  .bottom-container {

    a {
      text-decoration: none;
      color: black;
      font-family: 'Gotham A', 'Gotham B';
      font-size: 1.2em;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
          -webkit-transition: border 500ms ease;
          -moz-transition: border 500ms ease;
          -ms-transition: border 500ms ease;
          -o-transition: border 500ms ease;
          transition: border 500ms ease; 
      &:visited {
        color: black;
      }
      &:hover {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
      }


    }
  }
} 