$mobile-width: 640px;

body.skinlaundry {
    background-color: white;
    .top-background {
        background-image: image-url("page_skinlaundry/palmtree.png");
    }
    .parallax-background {
        background-image: image-url("page_skinlaundry/SL_watermark.png");
        background-repeat: no-repeat;

    } 
    .content {
        background-color: transparent;
        .top-container {
            //background-image: image-url("page_skinlaundry/watersplash_rotate.png");
            background-repeat: no-repeat;
            background-size: 50% auto;
            width: 100%;
            height: 100%;
            background-position: 100% 100px;
            @media only screen and (max-width: $mobile-width) {
                    padding-bottom: 0;
                }
            .image-container {
            	font-size: 0;
          		position: relative;
          		padding-top: 10%;
          		width: 80%;
          		margin: 0 auto;
          		
          		@media only screen and (max-width: $mobile-width) {
          			width: 100%;
          		}
          		.block {
          			display: inline-block;
          		}
          		p {
          	    	font-size: 12px;
                  line-height: 25px;
          	    }
                h1 {
            		font-size: 35px;
            	}
            	h2 {
            		font-size: 25px;
            	}
          	    #sl-row01 {
                    width: 100%;
                    @media only screen and (max-width: $mobile-width) {
                        text-align: center;
                    }      	
                    #sl-container01 {
                        width: 50%;
                        transition: all 200ms ease-out;
                        img {
          	        	    width: 100%;
                        }
                        @media only screen and (max-width: 830px) {
                            width: 100%;

                        }
                        @media only screen and (max-width: $mobile-width) {
                            top: 48%;
                            padding-left: 0; 
                            opacity: .775;
                            left: 3%;
                            width: 95%;
                            height: 25%;
                        }
                    }
                    #sl-container02 {
                        width: 50%;
                        vertical-align: top;
                        margin-top: 50px;

                        @media only screen and (max-width: 1170px) {
                            margin-top: 0;
                            p {
                                line-height: 20px;
                                padding-left: 30px;
                                padding-right: 0;
                                padding-top: 30px;
                                text-align: left;
                            }
                        }
                        @media only screen and (max-width: 830px) {
                            width: 100%;
                            margin: 0 auto;
                            h2 {
                                margin-top: 20px;
                            }
                            p {
                                font-size: 15px;
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                        @media only screen and (max-width: $mobile-width) {
                            width: 80%;
                            p {
                                text-align: justify;
                            }
                        }
                    }
                }
                #sl-row02 {
                    width: 100%;
                    @media only screen and (max-width: $mobile-width) {
                        text-align: center;
                    }
                    #sl-container03 {
                        width: 50%;
                        transition: all 200ms ease-out;
                        vertical-align: top;
              		    p {
                  			padding-top: 50px;
                            padding-right: 50px;
                            padding-left: 50px;
                            font-family: 'DIN';
                  		}
                        h2 {
                            color: #53534a;
                            font-family: 'Archer-LightItalic';
                            font-weight: normal;
                            text-align: center;
                            margin-top: 60px;
                            font-size: 30px;
                        }
                        @media only screen and (max-width: 1130px) {
                            p {
                                padding-top: 0px;
                            }
                        }
                        @media only screen and (max-width: 1024px) {
                            p {
                                line-height: 20px;
                                padding-right: 25px;
                                padding-left: 25px;
                            }
                        }
                        @media only screen and (max-width: 830px) {
                            width: 80%;
                            h2 {
                                margin-top: 20px;
                            }
                            p {
                                font-size: 15px;
                                padding: 50px 0px;
                                text-align: left;

                            }
                        }
                        @media only screen and (max-width: $mobile-width) {
                            p {
                                text-align: justify;
                            }
                        }
                    }
                    #sl-container04 {
              		    width: 50%;
              		    img {
              			   width: 100%;
              		    }
                        @media only screen and (max-width: 830px) {
                            width: 50%;
                            padding-top: 47px;
                        }
                        @media only screen and (max-width: $mobile-width) {
                            width: 95%;
                            padding-bottom: 30px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                #sl-row03 {
                    width: 100%;
                    @media only screen and (max-width: $mobile-width) {
                        text-align: center;
                    }
                    #sl-container05 {
                        width: 20%;
                    }
                  	#sl-container06 {
                  		width: 30%;
                  		transition: all 200ms ease-out;
                  		img {
                  			width: 100%;
                  		}
                        @media only screen and (max-width: $mobile-width) {
                            width: 95%;
                            img {
                                width: 100%;
                            }
                        }
                  	}
                  	#sl-container07 {
                  		width: 50%;
                  		vertical-align: top;

                  		h1 {
                  			padding: 50px;
                  			text-align: center;
                  			color: #00b194;
                            font-family: 'DIN';
                            line-height: 60px;
                  		}

                        @media only screen and (max-width: 940px) {
                            h1 {
                                padding: 20px;
                                font-size: 25px;
                            }
                        }
                        @media only screen and (max-width: $mobile-width) {
                            width: 100%;
                            h1 {
                                
                            }
                        }
                  	}
                }
                #sl-row04 {
                    margin-bottom: 130px;
                    #sl-container08 {
                        width: 20%;
                        vertical-align: top;
                        img {
                            width: 100%;
                        }
                    }
                    #sl-container09 {
                        width: 30%;
                    }
                    #sl-container10 {
                        width: 50%;
                        img {
                            width: 100%;
                        }
                    }
                }
                #sl-row05, #sl-row06 {
                    width: 100%;
                    
                    #sl-container11, #sl-container12 {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
                #sl-row07 {
                    width: 100%;
                    #sl-container13 {
                        text-align: center;
                        font-family: 'Archer-LightItalic', serif;
                        color: #53534a;
                        margin-top: 40px;
                        h1 {
                            font-weight: normal;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 100%;
                border-bottom: 2px solid rgba(255, 255, 255, 0);
                -webkit-transition: border 500ms ease;
                -moz-transition: border 500ms ease;
                -ms-transition: border 500ms ease;
                -o-transition: border 500ms ease;
                transition: border 500ms ease; 
                &:visited {
                    color: black;
                }
                &:hover {
                    border-bottom: 2px solid rgba(0, 0, 0, 1);
                }
            }
        }
        .middle-container {
            margin: 0 auto;
            width: 100%;
            // max-width: 85%;
            background-image: image-url('page_skinlaundry/waterlevel_bgwhite.png');
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
            background-position: 0 150px;
            @media only screen and (max-width: 720px) {
                background-position: 0 200px;
            }
            #sl-list {                
                margin: 0 auto;
                width: 400px;
                margin-top: -200px;
                display: inline-block;
                background: white;
                padding-left: 120px;
                color: #53534A;
                ul {
                    padding: 0;
                    text-transform: uppercase;
                }
                li {
                    list-style-type: none;
                    font-family: 'DIN';
                    line-height: 30px;
                    text-align: left;
                    
                }
                h1 {
                    font-size: 30px;
                    color: #00b194;
                    font-family: 'Archer-LightItalic';
                    font-weight: normal;
                    padding-top: 50px;
                    padding-bottom: 25px;
                    text-align: left;
                }
                .sl-bold {
                    color: #000;

                }
            }
            #computer {
                margin: 0 auto;
                width: 70%;
                img {
                    width: 100%;
                }
            }
            #sl-row04 {
                width: 100%;
                background: white;
                #sl-container09 {
                    display: inline-block;
                    width: 64%;
                    vertical-align: top;
                    
                    h1 {
                        font-size: 80px;
                        color: #00b194;
                        font-family: 'Archer-LightItalic';
                        font-weight: normal;
                        margin-top: 60px;
                        margin-left: 30px;
                        @media only screen and (max-width: 860px) {
                            font-size: 40px;
                            margin-top: 25px;
                        }
                        @media only screen and (max-width: $mobile-width) {
                            margin-left: 0;
                            margin-top: 0;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
                #sl-container10 {
                    width: 35%;
                    display: inline-block;
                    img {
                        width: 100%;
                    }
                    @media only screen and (max-width: $mobile-width) {
                        display: none;
                    }
                }
            }
        }
        .bottom-container {
            text-align: center;
            padding: 10px 0;
            @media only screen and (max-width: $mobile-width) {
                padding: 0;
            }
        }
    }
}

