@import '_variables';

body.velvet {
  background-color: $white;
  text-align: center;
  .top-background {
    background-image: image-url("page_velvet/top_background.png");
  }
  .parallax-background {
    background-image: image-url("page_velvet/white_shirt.png");
  }
  .content {
    background-color: transparent;
    .image-container {
      position: relative;
      padding-top: 125%; 
      img {
        position: absolute;
      }
      #white-outfit {
        width: 33%;
        top: 0;
        left: 15%;
      }
      #three-ladies {
        width: 20%;
        top: 6%;
        left: 52%;
      }
      #blue-jacket {
        width: 50%;
        top: 35%;
        right: 10%;
        z-index: 1;
      }
      #computer {
        width: 32%;
        top: 60%;
        left: 20%;
      }
      #eight-ladies {
        width: 60%;
        top: 88%;
        left: 22%;
      }
    }
    #computers {
      margin: 100px auto;
    }
    .site-page {
      img {
        border: 4px lightgray solid;
      }
    }
  }
}