$mobile-width: 640px;
body.capability {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_capability/dfm-capabilities-main.jpg");
  }
  .portfolio-text-insert {
    color: #76787a;
    width: 540px;
    h2 {
      font-family: 'Gotham A', 'Gotham B';
      text-transform: uppercase;
      margin-top: 50px;
      margin-bottom: 25px;
      font-size: 30px;
      letter-spacing: 5px;
      font-weight: 500;
      color: #000;
    }
    p {
      font-size: 12px;
      font-family: 'Gotham A', 'Gotham B';
      font-weight: 100;
      }
    #details{
     font-family: 'Georgia';
     font-size: 14px;
     line-height: 20px;
     color: #000;
     margin-top: 45px;
    }  
  }

    
  .content {
  	 .top-insert-outline {
  	  border: 1px solid black; }
  	  
  	 .top-insert {
  	  background-color: black;}
  	  
  	 .top-insert h1 {
  	   color: white;}
  	   
  	 .top-insert h2 { 
  	   color: white;
  	 }
  	   
	 .heading-section h1 {
	 padding: 9px 10px 5px 80px;
	 width: 320px; 
	 @media only screen and (max-width: $mobile-width) {
	   font-size: 36px;
	   width: 340px;
	 } 
	 }
     #brand-exploration {
       position: relative;
       float: right;
     }
     #logo-mark {
       position: relative;
       float: left;
       margin-top: 40%; 
     }

    .image-container-brandstrategy {
      position: relative;
      padding-top: 80.44%;
      img {
        position: absolute;
      }
      #infographic {
        width: 55%;
        top: 3%;
        left: 25%; 
      }
       #photo1 {
        width: 20%;
        top: 70%;
        left: 10%;
      }
      #photo2 {
        top: 70%;
        left: 30.5%;
        width: 19.6%;
      }
      #photo3 {
        width: 20.3%;
        top: 70%;
        right: 29.3%;
      }
      #photo4 {
        width: 17%;
        top: 70%;
        right: 12%;
      }
    }
    
    #graphics {
      position: relative;
      float: right;
      margin-top: 18%;
    }

    .image-container-graphics {
      position: relative;
      padding-top: 85.44%;
      img {
        position: absolute;
      }
      #colourpop {
        width:30%;
        top: -17%;
        left: 6%;
      }
      #avf {
        width: 40%;
        top: -8%;
        right: 0%;
      }
      #bgh {
        width: 25%;
        top: 23%;
        left: 9%;
      }
      #selvarey {
        top: 23%;
        width: 21.5%;
        left: 34.3%;
      }
      #tmqth { 
        left: 9%;
        width: 46.8%;
        top: 58.7%;
      }
      #color { 
        width: 20%;
        top: 57%;
        right: 10%;
      }
    }
    
    #imagery {
      position: relative;
      float: left;
    }
    
    .image-container-imagery {
      position: relative;
      padding-top: 74.44%;
      margin-bottom: 150px;
      img {
        position: absolute;
      }
      #img1 {
        width: 6%;
        top: 10%;
        right: 58%;
      }
      #img2 {
        width: 6%;
        top: 10.8%;
        right: 52%; 
      }
      #img3 {
        width: 4.4%;
        top: 9%;
        right: 47.4%;
      }
      #img4 {
        width: 5%;
        top: 10%;
        right: 42%;
      }
      #img5 {
        width: 6%;
        top: 10.5%;
        right: 35%; 
      }
      #img6 {
        width: 6%;
        top: 11%;
        right: 29%;
      }
      #img7 {
        width: 6%;
        top: 10.5%;
        right: 22.5%;
      }
      #img8 {
        width: 5.5%;
        top: 11%;
        right: 17.5%;
      }
      #img9 {
        width: 5%;
        top: 11%;
        right: 11.6%;
      }
      #img10 {
        width: 4%;
        top: 10.5%;
        right: 6.5%;
      }
      #left-model {
        width: 26.1%;
        top: 27%;
        left: 8%;
      }
      #mid-model {
      	width: 8.34%;
        top: 27%;
        left: 34.5%;
      }
      #jewel1 {
        width: 23%;
        top: 27%;
        left: 43.2%;
      }
      #jewel2 {
        width: 23%;
        left: 43.2%;
        top: 55.5%;
      }
      #avf1 {
        width: 31%;
        top: 68%;
        right: 0%;
      }
      #avf2 {
        width: 35%;
        top: 79%;
        right: 8%;
      }
    }
    
    #interactive {
      position: relative;
      float: left;
    }
    
    #responsive {
      position: relative;
      float: right;
      margin-top: 32.2%;
    }
    
    .image-container-interactive {
      position: relative;
      padding-top: 80.44%;
      img {
        position: absolute;
      }
      #display {
        width: 50%;
        top: 2.5%;
        left: 22.5%;
      }
      #chic-blocks{
        width: 23%;
        top: 40%;
        left: 10%;
      }
      #chic-daily {
        width: 23%;
        top: 50%;
        left: 10%;
      }
      #chic-flags {
        width: 20%;
        top: 60%;
        left: 10%;
      }
      #chic-links {
        width: 30%;
        top: 70%;
        left: 10%;
      }
      #style {
        width: 30%;
        top: 40%;
        right: 24%;
      }
    }
    
    #retail {
      position: relative;
      float: right;
    }
    
    .image-container-retail {
      position: relative;
      padding-top: 75.44%;
      img {
        position: absolute;
      }
      #inspire {
        width: 50%;
        top: 5%;
        left: 0;
      }
      #onsen1 {
        width: 40%;
        top: 25%;
        left: 9.8%;
      }
      #onsen2 {
        width: 40%;
        top: 24.5%;
        right: 9.8%;
      }
      #spatz {
        width: 40%;
        left: 9.8%;
        top: 57.8%;
      }
      #bi {
        width: 40%;
        top: 57.8%;
        right: 9.8%;
      }
    }
  }
}