
// these classes work with _scroller.js to animate elements as the page scrolls
// see usage information in javascripts/_scroller.js


.scroll-fast, .scroll-fast-left, .scroll-fast-right {
  -webkit-transition: -webkit-transform 200ms !important;
  -moz-transition: transform 200ms !important;
  transition: transform 200ms !important;
}

.scroll-medium, .scroll-medium-left, .scroll-medium-right {
  -webkit-transition: -webkit-transform 400ms !important;
  -moz-transition: transform 400ms !important;
  transition: transform 400ms !important;
}

.scroll-slow, .scroll-slow-left, .scroll-slow-right {
  -webkit-transition: -webkit-transform 600ms !important;
  -moz-transition: transform 600ms !important;
  transition: transform 600ms !important;
}


.move-up {
  opacity: 0;
  -webkit-transform:translateY(-200px);
  -moz-transform: translateY(-200px);
  transform: translateY(-200px);
}

.move-down {
  opacity: 0;
  -webkit-transform:translateY(200px);
  -moz-transform: translateY(200px);
  transform: translateY(200px);
}

.move-left {
  opacity: 0;
  -webkit-transform:translateX(-1500px); 
  -moz-transform: translateX(-1500px);  
  transform: translateX(-1500px); 
}

.move-right {
  opacity: 0;
  -webkit-transform:translateX(1500px);
  -moz-transform: translateX(1500px);
  transform: translateX(1500px);
}

