// GLOBAL SCSS VARIABLES

// media query widths
$first_break_width: 1475px;
$second_break_width: 1155px;
$third_break_width: 1100px;
$fourth_break_width: 730px;
$layout_change_width: 785px;
$text_change_width: 1060px;
$twelve_hundreds: 1246px;
$nine_hundreds: 905px;
$eight_hundreds: 860px;
$six_hundreds: 685px;
$five_hundreds: 585px;
$four_hundreds: 490px;

// colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$pink: #ff0cdb;