/*
      __         __   ___      
|  | |__)   +   |  \ |__   |\/| 
\__/ |__)       |__/ |     |  | 

copyright: 2015
*/



/* 

Note: this is the main css file, and the only one that 
will be  served in a production environment. The remaining
css files will be incorporated into this file via the 
includes below. 

*/

////////////// INCLUDED FILES //////////////

/*
 *= require _reset
 *= require _fonts
 *= require_self
 *= require_tree . 
 */

/////////////// SASS VARIABLE //////////////

$mobile-width: 640px;

//////////////// GLOBAL CSS ////////////////

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  -webkit-overflow-scrolling: touch; // for momentum scrolling on mobile
}

::selection {
  color: #ff0cdb;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}

////////////// LOADING PAGE ///////////////

#loading-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.95;
  background-color: white;
  z-index: 500;
  background-image: image-url('logo_loading.png');
  background-position: center;
  background-size: 45%;
  background-repeat: no-repeat;
}

///////////////// HEADER ///////////////////

#header {
  position: fixed;
  top: 25px;
  height: 30px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  padding: 6px 40px 0px 40px;
  #logo {
    float: left;
  }
  #nav-toggle {
    float: right;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Knockout 48 A', 'Knockout 48 B';
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    font-size: 1.5em;
    margin-top: -3px;
    -webkit-font-smoothing: antialiased;
  }
}

//////////////// NAV PAGE /////////////////

#nav-page {
  height: 100%;
  z-index: 500;
  background-color: rgba(10,10,10,0.85);
  position: fixed;
  opacity: 0;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  text-align: center;
  color: rgb(255,255,255);
  overflow-y: scroll;
  font-family: 'Gotham A', 'Gotham B';
  ul {
    list-style: none;
    margin-bottom: 40px;
  }
  ul:first-child {
    margin-top: 40px;
  }
  .nav-heading {
    font-size: 1.2em;
    margin-top: 1.6em;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 5px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  li.nav-heading {
    & a {
      border-bottom: 3px white solid;

      -webkit-transition: border 300ms ease;
      -moz-transition: border 300ms ease;
      -ms-transition: border 300ms ease;
      -o-transition: border 300ms ease;
      transition: all 300ms ease-out;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }


  li:not(.nav-heading) {
    line-height: 1.8em;
    font-size: .9em;
    font-family: 'Georgia';
    font-style: italic;
    letter-spacing: .5px;
    & a {
      &.page-links {
        padding-bottom: 1px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
          -webkit-transition: border 500ms ease;
          -moz-transition: border 500ms ease;
          -ms-transition: border 500ms ease;
          -o-transition: border 500ms ease;
          transition: border 500ms ease; 
        &:hover {
          border-bottom: 2px solid rgba(255, 255, 255, 1);
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 1em;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  
  .social-links {
    margin: 110px 0px;
    text-align: center;
    font-weight: bold;
  }
  .social-links a {
    text-transform: uppercase;
    margin: 15px;
    font-size: .65em;
    padding-bottom: 1px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    -webkit-transition: border 500ms ease;
    -moz-transition: border 500ms ease;
    -ms-transition: border 500ms ease;
    -o-transition: border 500ms ease;
    transition: border 500ms ease;
    &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 1);
    } 
  }
}

////////////// CASE STUDIES TEMPLATE ///////////////

// This html template is used verbatim in the kavaldon, 
// selvarey, AVF, and velvet pages, and slightly modified 
// in all of the our-work pages (which don't use parallax). 
// Styles follow the html.

/*
<div id="main">
  <div class="top-background"></div>
  <div class="parallax-background"></div> // holds the parallax image
  <div class="content">

    <div class="top-container">
      <div class="top-insert-outline">
        <div class="top-insert">
          <h1></h1>
          <h3></h3>
        </div>
      </div>
      PAGE-SPECIFIC CONTENT
    </div>

    <div class="parallax"></div>          // the parallax window

    <div class="bottom-container">
      PAGE-SPECIFIC CONTENT
    </div>

    <div class="work-with-us">
      <h2><a href="/contact">Work With Us</a></h2>
      <p>We make it real.</p>
    </div>

  </div>
</div>
*/

.top-background {
  width: 100%;
  height: 800px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  @media only screen and (max-width: $mobile-width) {
    height: 600px;
  }
}
.parallax-background {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content{
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);  // fixes momentum scrolling issue on mobile
  background-color: white;
  width: 100%;
  top: 800px;
  left: 0;
  @media only screen and (max-width: $mobile-width) {
    top: 600px;
  }
  .top-container {
    background-color: white;
    padding-bottom: 200px;
    @media only screen and (max-width: $mobile-width) {
      margin-top: -200px;
    }
  }
  .top-insert-outline {
    width: 580px;
    max-width: 95%;
    padding: 9px;
    position: relative;
    margin: 0 auto -50px auto;
    top: -100px;
    border: 1px solid white;
  }
  .top-insert {
    background-color: white;
    position: relative;
    text-align: center;
    padding: 10% 15%;
    box-sizing: border-box;
    h1 {
      color: black;
      font-family: 'Gotham A', 'Gotham B';
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: 800;
      letter-spacing: 8.4px;
      line-height: 40px;
      max-width: 400px;
      margin: 0 auto 10px auto;
      @media only screen and (max-width: $mobile-width) {
        font-size: 1.2em;
        letter-spacing: 1.7px;
      }
    }
    h2 {
      font-weight: 100;
      font-family: 'Georgia';
      width: 100%;
      letter-spacing: 1px;
      font-size: 13px;
      line-height: 18px;
      &#velvet-subtitle {
        padding-bottom: 10px;
        font-family: 'Gotham A', 'Gotham B';
      }

    }
    h3 {
      font-style: italic;
      font-weight: 100;
    }
  }
  .parallax {
    width: 100%;
    height: 300px;
    background: none;
  }
  .bottom-container {
    background-color: white;
    padding: 200px 0;
  }
  .work-with-us {
    width: 100%;
    height: 250px;
    font-family: 'Georgia';
    text-align: center;
    color: black; 
    background-color: white;
    
    h2 {
      width: 180px;
      margin: 0 auto;
      text-transform: uppercase;
      padding: 0 5px 20px 5px;
      //border-bottom: 2px grey solid;
    }
    a {
      text-decoration: none;
      color: inherit;
      border-bottom: 2px solid rgba(0, 0, 0, 0);
        -webkit-transition: border 500ms ease;
        -moz-transition: border 500ms ease;
        -ms-transition: border 500ms ease;
        -o-transition: border 500ms ease;
        transition: border 500ms ease; 
      &:hover {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
      }
    }
    p {
      //margin-top: 20px;
      font-style: italic;
    }
  }
}

///////////// MULTI-PAGE ELEMENTS ///////////////

// for the "branding" and "user journey" sections of
// many of the case studies and our-work pages
.portfolio-text-insert {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  max-width: 85%;
  h1 {
    font-size: 30px;
    margin-bottom: 55px;
    font-weight: 500;
    font-family: 'Gotham A', 'Gotham B';
    text-transform: uppercase;
    letter-spacing: 9px;
  }
  p {
    font-size: 14px;
    font-family: 'Georgia';
    line-height: 18px;
    letter-spacing: 1px;
  }
  a {
    font-family: 'Gotham A', 'Gotham B';
    
  }
  div {
    display: inline-block;
    margin: 45px auto 0 auto;
    width: 200px;
    height: 30px;
    border-bottom: 2px lighten(black, 80%) solid;
  }
}

// for the website samples/computer images in 
// the bottom half of kavaldon, selvarey, AVF, and velvet
.site-page {
  margin: 40px auto;
  width: 80%;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

// for the black multi-line headings in environment,
// identity, interactive, and packaging
.heading-section {
  z-index: 2;
  position: absolute;
  h1 {
    font-family: 'DidotLTStd-Italic';
    font-size: 30px;
    background-color:black;
    color:white;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 4px;
    padding: 9px 5px 5px 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    width: 275px;
    @media only screen and (max-width: $mobile-width) {
      font-size: 20px;
      width: 175px;
      padding-left: 25px;
    }
  }
}

