<div id="nav-page">
  <ul>
    <li class="nav-heading">Case Studies</li>
    <li><a class="page-links" href="/kavaldon/">Kavaldon</a></li>
    <li><a class="page-links" href="/selvarey">Selvarey</a></li>
    <li><a class="page-links" href="/AVF">Alexandra Von Furstenburg</a></li>
    <li><a class="page-links" href="/velvet">Velvet by Graham and Spencer</a></li>
    <li><a class="page-links" href="/skinlaundry">Skin Laundry</a></li>
  </ul>
  <ul>
    <li class="nav-heading">Our Work</li>
    <li><a class="page-links" href="/strategy">Brand Strategy</a></li>
    <li><a class="page-links" href="/identity">Identity Design</a></li>
    <li><a class="page-links" href="/packaging">Packaging and Collateral</a></li>
    <li><a class="page-links" href="/imagery">Imagery</a></li>
    <li><a class="page-links" href="/interactive">Interactive</a></li>
    <li><a class="page-links" href="/environment">Environment</a></li>
  </ul>
  <ul>
    <li class="nav-heading">
      <a class="page-links" href="/about">About</a>
    </li>
  </ul>
  <ul>
    <li class="nav-heading">
      <a class="page-links" href="/blog" target="_blank">Blog</a>
    </li>
  </ul>
  <ul>
    <li class="nav-heading">
      <a class="page-links" href="/contact">Contact</a>
    </li>
  </ul>
  <div class="social-links">
        <a class="page-links no-prevent" target="_blank" href="http://www.instagram.com/drawingfrommemory">Instagram</a>
    <a class="page-links no-prevent" target="_blank" href="https://www.pinterest.com/dfmla/">Pinterest</a>
  </div>
</div>