@import '_variables';

body.environment {
  background-color: $white;
  text-align: center;
  .top-background {
    background-image: image-url("page_environment/top_background.png");
  }
  .content{
    .image-container {
      position: relative;
      padding-top: 253.125%;
      img {
        position: absolute;
      }
      #makeup-station {
        width: 33.33333%;
        top: 4.94%;
        left: 0%;
        z-index: 1;
      }
      #books {
        width: 49.48%;
        top: 0%;
        right: 6.04%;
      }
      #spatz {
        width: 60.1%;
        top: 17.28%;
        left: 14.06%;
      }
      #section-01 {
        position: absolute;
        width: 300px;
        top: 16.38%;
        right: 0;
        text-align: left;
        h1 {
          padding-left: 30px; 
        }
      }
      #three-pics {
        width: 70.21%;
        top: 45.56%;
        left: 20.83%;
        z-index: 1;
      }
      #four-women {
        width: 60%;
        top: 49.38%;
        left: 6.35%;
      }
      #selvarey-pic {
        width: 23.96%;
        top: 63.87%;
        right: 13.75%;
        z-index: 1;
      }
      #onsen-left {
        width: 59.9%;
        top: 71.11%;
        left: 0%;
      }
      #onsen-right {
        width: 32.08%;
        top: 76.75%;
        right: 1.46%;
      }
    }
  }
}