@import '_variables';

$mobile_width: 585px;

body.identity {
  background-color: $white;
  text-align: center;
  .top-background {
    background-image: image-url("page_identity/top_background.png");
    background-size: contain;
  }
  .content {
  	.logo-image {
  		display: block;
  		margin: 500px auto;
  		max-width: 100%;
  		transition: all 200ms ease-in;
  	}
  	.text {
  		max-width: 90%;
  		float: right;
  		clear: both;
  	}
  	#block-01 {
  		width: 541px;
  		text-align: left;
  		margin: 150px 10px 40px 10px;
  		p {
  			font-family: 'Gotham A';
  			font-weight: 100;
  			font-size: 13px;
  			line-height: 25px;
  		}
  	}
  	#block-02, #block-03 {
  		width: 541px;
  		margin: 0px 5px 30px 5px;
  		ul {
    		display: block;
    		float: left;
  			list-style: none;
  			text-align: left;
  			margin-right: 30px;
  			margin-left: 0;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile_width) {
  				margin-right: 10px;
  			}
  			li {
    			font-family: 'Gotham A';
  				font-weight: 100;
  				font-size: 13px;
  				line-height: 25px;
  				transition: all 200ms ease-in;
  				@media only screen and (max-width: $mobile_width) {
  					font-size: 11.1px;
  				}
    		}
    	}
    	ul:nth-child(2) {
  			margin-right: 60px;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile_width) {
  				margin-right: 5px;
  			}
  		}
  	}
  	#block-03 {
  		ul {
  			text-transform: uppercase;
  		}
  	}
  	#block-04 {
  		float: left;
  		margin-top: -150px;
  		@media only screen and (max-width: 1060px) {
  			margin-top: 0;
  		}
      h1 {
        font-size: 60px;
        padding: 9px 10px 5px 84px;
        width: 430px;        
      }
  	}
  	#block-05 {
  		float: left;
  		padding-left: 211px;
  		margin-top: 80px;
  		transition: all 200ms ease-in;
  		@media only screen and (max-width: $mobile_width) {
  			padding-left: 5%;
  		}
  		h2 {
  			font-family: 'Gotham A';
  			font-size: 28px;
  			font-weight: 600;
  			text-transform: uppercase;
  			letter-spacing: 3px;
  			text-align: left;
  		}
  		h5 {
  			font-family: 'Gotham A';
  			font-weight: 200;
  			font-size: 14px;
  			text-align: left;
  			margin-top: 40px;
  			line-height: 18px;
  		}
  	}
  	#block-06 {
  		text-align: left;
  		box-sizing: content-box;
  		max-width: 100%;
  		transition: all 200ms ease-in;
  		position: relative;
  		top: 70px;
  		@media only screen and (max-width: $mobile_width) {
  			float: left;
  			margin-top: 110px;
  		}
  		#box {
  			width: 475px;
  			max-width: 100%;
  			border: 7px solid black;
  			background-color: $white;
  			padding: 30px;
  		}
  		h1 {
  			font-family: 'DidotLtStd-Italic';
  			font-size: 85px;
  			font-weight: 100;
  			margin-top: 0;
  			margin-bottom: -24px;
  			text-align: left;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile_width) {
  				font-size: 63px;
  			}
  		}
  		p {
  			font-family: 'Gotham A';
  			font-size: 14px;
  			font-weight: 100;
  			width: 90%;
  			margin-bottom: 20px;
  			line-height: 21px;
  		}
  	}
  	#black-band {
  		width: 100%;
  		height: 500px;
  		background-color: $black;
  		padding-top: 90px;
  		min-width: 1200px;
  		clear: both;
  		ul {
  			color: $white;
  			display: block;
  			vertical-align: top;
  			display: inline-block;
  			list-style: none;
  			text-align: left;
  			margin-right: 30px;
  			margin-left: 0;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile_width) {
  				float: left;
  			}
  			li {
  				font-family: 'Gotham A';
  				font-weight: 100;
  				font-size: 10px;
  				line-height: 22px;
  				transition: all 200ms ease-in;
  			}
  			li:first-child {
  	  		text-transform: uppercase;
  	  	}
  		}
  		ul:nth-child(2), ul:nth-child(5), ul:nth-child(6), ul:nth-child(7) {
  			@media only screen and (max-width: $mobile_width) {
					display: none;
  			}
  		}
  	}
  	#block-07 {
  		margin-top: 210px;
  		.black-bar {
	  		font-family: 'DidotLTStd-Italic';
  			font-size: 60px;
  			background-color: black;
  			color: white;
  			text-align: left;
  			font-weight: lighter;
  			padding: 9px 10px 5px 84px;
  			margin: 4px 0px 4px 0px;
  			width: 430px;
  			max-width: 100%;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile_width) {
  				padding-left: 36px;
  			}
		  }
  	}
  	img {
  		margin-top: 250px;
  	}
  }
  .work-with-us {
  	clear: both;
  }
}