$mobile-width: 640px;

body.identity {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_identity/top_background.jpg");
    background-size: contain;
  }
  .content {
  	.logo-image {
  		display: block;
  		margin: 500px auto;
  		max-width: 100%;
  		transition: all 200ms ease-in;
  	}
  	.text {
  		max-width: 90%;
  		float: right;
  		clear: both;
  	}
  	#block-01 {
  		width: 541px;
  		text-align: left;
  		margin: 50px 10px 40px 10px;
  		p {
  			font-family: 'Gotham A';
  			font-weight: 100;
  			font-size: 13px;
  			line-height: 25px;
  		}
  	}
  	#block-02, #block-03 {
  		width: 541px;
  		margin: 0px 5px 30px 5px;
  		ul {
    		display: block;
    		float: left;
  			list-style: none;
  			text-align: left;
  			margin-right: 30px;
  			margin-left: 0;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile-width) {
  				margin-right: 10px;
  			}
  			li {
    			font-family: 'Gotham A';
  				font-weight: 100;
  				font-size: 13px;
  				line-height: 25px;
  				transition: all 200ms ease-in;
  				@media only screen and (max-width: $mobile-width) {
  					font-size: 11.1px;
  				}
    		}
    	}
    	ul:nth-child(2) {
  			margin-right: 60px;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile-width) {
  				margin-right: 5px;
  			}
  		}
  	}
  	#block-03 {
  		ul {
  			text-transform: uppercase;
  		}
  	}
    .heading-section h1 {
      font-size: 60px;
      padding: 9px 10px 5px 84px;
      width: 430px; 
      @media only screen and (max-width: $mobile-width) {
        font-size: 36px;
        width: 340px;
      } 
    }
  	#block-04 {
      position: relative;
  		float: left;
  	}
  	#block-05 {
  		float: left;
  		padding-left: 211px;
  		margin-top: 80px;
  		transition: all 200ms ease-in;
  		@media only screen and (max-width: $mobile-width) {
  			padding-left: 5%;
  		}
  		h2 {
  			font-family: 'Gotham A';
  			font-size: 28px;
  			font-weight: 600;
  			text-transform: uppercase;
  			letter-spacing: 3px;
  			text-align: left;
  		}
  		h5 {
  			font-family: 'Gotham A';
  			font-weight: 200;
  			font-size: 14px;
  			text-align: left;
  			margin-top: 40px;
  			line-height: 18px;
  		}
  	}
  	#block-06 {
  		text-align: left;
  		box-sizing: content-box;
  		max-width: 100%;
  		transition: all 200ms ease-in;
  		position: relative;
  		top: 70px;
      right: 4%;
  		@media only screen and (max-width: $mobile-width) {
  			float: left;
  			/*margin-top: 110px;*/
        right: 0;
  		}
  		#box {
  			width: 475px;
  			max-width: 100%;
  			border: 7px solid black;
  			background-color: white;
  			padding: 30px;
  		}
  		h1 {
  			font-family: 'DidotLtStd-Italic';
  			font-size: 85px;
  			font-weight: 100;
  			margin-top: 0;
  			margin-bottom: -24px;
  			text-align: left;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile-width) {
  				font-size: 63px;
  			}
  		}
  		p {
  			font-family: 'Gotham A';
  			font-size: 14px;
  			font-weight: 100;
  			width: 90%;
  			margin-bottom: 20px;
  			line-height: 21px;
  		}
  	}
  	#black-band {
  		width: 100%;
  		height: 500px;
  		background-color: black;
  		padding-top: 90px;
  		min-width: 1200px;
  		clear: both;
  		ul {
  			color: white;
  			display: block;
  			vertical-align: top;
  			display: inline-block;
  			list-style: none;
  			text-align: left;
  			margin-right: 30px;
  			margin-left: 0;
  			transition: all 200ms ease-in;
  			@media only screen and (max-width: $mobile-width) {
  				float: left;
  			}
  			li {
  				font-family: 'Gotham A';
  				font-weight: 100;
  				font-size: 10px;
  				line-height: 22px;
  				transition: all 200ms ease-in;
  			}
  			li:first-child {
  	  		text-transform: uppercase;
  	  	}
  		}
  		ul:nth-child(2), ul:nth-child(5), ul:nth-child(6), ul:nth-child(7) {
  			@media only screen and (max-width: $mobile-width) {
					display: none;
  			}
  		}
  	}
  	#block-07 {
      position: relative;
      float: right;
  		margin-top: 210px;
  	}
    #logo-container {
      max-width: 100%;
      width: 730px;
      margin: 500px auto 0px;
      .row {
        width: 100%;
        .logo {
          width: 240px;
          height: 190px;
          display: inline-block;
          background-image: image-url('page_identity/logos.png');
          background-repeat: no-repeat;
        }
        #logo-01 {
          background-position: 54px 29px;
        }
        #logo-02 {
          background-position: -204px 45px;
        }
        #logo-03 {
          background-position: -480px 19px;
        }
        #logo-04 {
          background-position: 53px -214px;
        }
        #logo-05 {
          background-position: -204px -214px;
        }
        #logo-06 {
          background-position: -477px -221px;
        }
        #logo-07 {
          background-position: 53px -457px;
        }
        #logo-08 {
          background-position: -207px -466px;
        }
        #logo-09 {
          background-position: -483px -474px;
        }
        #logo-10 {
          background-position: 63px -734px;
        }
        #logo-11 {
          background-position: -208px -726px;
        }
        #logo-12 {
          background-position: -473px -732px;
        }
        #logo-13 {
          background-position: 63px -1006px;
        }
        #logo-14 {
          background-position: -204px -999px;
        }
        #logo-15 {
          background-position: -475px -1003px;
        }
        #logo-16 {
          background-position: 62px -1255px;
        }
        #logo-17 {
          background-position: -213px -1265px;
        }
        #logo-18 {
          background-position: -473px -1250px;
        }
      }
    }
  }
  .work-with-us {
  	clear: both;
  }
}