body.imagery {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_imagery/top_background.jpg");
  }
  .content {
    .image-container {
      position: relative;
      padding-top: 286.45%;
      img {
        position: absolute;
      }
      #twelve-pics {
        width: 12.19%;
        top: 5.53%;
        left: 8.125%;
      }
      #mustache {
        width: 42.71%;
        top: 3.2%;
        left: 27.81%;
      }
      #babies {
        width: 15.625%;
        top: 0;
        right: 9.375%;
      }
  		#makeup {
        width: 53.85%;
        top: 26.11%;
  			left: 0;
  		}
  		#four-pics {
        width: 31.875%;
        top: 20.87%;
  			right: 0;
  		}
  		#three-pics {
  			width: 13.96%;
        top: 40.87%;
        left: 10%
  		}
  		#flying {
        width: 51.67%;
			  top: 40.15%;
			  right: 2.81%;
  		}
  		#blue-shirt {
        width: 49.17%;
        top: 53.05%;
        left: 31.25%;
  		}
      #jewelry {
        width: 75.42%;
        top: 67.2%;
        left: 0%;
      }
      #green-stick { 
        width: 19.7%;
        top: 67.2%;
        right: 1.5%;
      }
      #glass-stuff {
        width: 44.17%;
        top: 84.07%;
        left: 7.81%;
      }
  		#nine-foods {
        width: 35.94%;
        top: 84.07%;
        right: 0%;
  		}
  	}
  }
}