$very-narrow: 500px;

body.interactive {
  background-color: white;
  text-align: center;
  overflow-x: hidden;
  .top-background {
    background-image: image-url("page_interactive/top_background.png");
    background-size: contain;
  }
  .content {
    .container {
      position: relative;
      padding-top: 273.96%;
      @media only screen and (max-width: $very-narrow) {
        padding-top: 450%;
      }
      img {
        position: absolute;
      }
      #chic-party {
        width: 46.875%;
        top: 0;
        right: 0;
      }
      #colored-squares {
        width: 39.48%;
        top: 12.05%;
        left: 5.94%;
      }
      #computers {
        width: 42.81%;
        top: 19.77%;
        left: 5.73%;
      }
      #colored-words {
        width: 23.125%;
        top: 29.66%;
        right: 5.52%;
      }
      #font {
        width: 40.31%;
        top: 31.75%;
        left: 1.98%;
      }
      #six-pics {
        width: 14.375%;
        top: 30.57%;
        left: 52.08%;
      }
      #red-text {
        position: absolute;
        width: 214px;
        top: 44.41%;
        right: 17.92%;
        z-index: 2;
        display: inline-block;
        text-align: left;
        background-color: red;
        color: white;
        padding: 15px;
        font-family: sans-serif;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 1px;
      }
      #computer-with-circles {
        width: 80.83%;
        top: 62.02%;
        left: 7.8125%;
        @media only screen and (max-width: $very-narrow) {
          top: 66%;
        }
      }
      #site-pages {
        width: 70.31%;
        top: 78.21%;
        left: 19.58%;
        @media only screen and (max-width: $very-narrow) {
          top: 83%;
        }
      }
      #heading-section-1 {
        top: 1.67%;
        left: 0;
      }
      #heading-section-2 {
        top: 23.57%;
        right: 0;
      }
      #heading-section-3 {
        top: 53.95%;
        right: 0;
        @media only screen and (max-width: $very-narrow) {
          top: 57%;
        }
      }
      #heading-section-4 {
        top: 73.31%;
        left: 0;
      }
    }
  }
}

 