$mobile-width: 750px;

body.packaging {
  background-color: white;
  text-align: center;
  overflow-x: hidden;
  .top-background {
    background-image: image-url("page_packaging/top_background.png");
  }
  .content {
    .container {
      position: relative;
      padding-top: 431.25%;
      margin-top: -180px;
      img, .heading-section {
        position: absolute;
      }
      #luterra {
        width: 23.125%;
        top: 0;
        right: 4.58%;
      }
      #food-bags {
        width: 53.33%;
        top: 2.15%;
        left: 0;
      }
      #makeup {
        width: 21.56%;
        top: 10.89%;
        left: 46.875%;
      }
      #how-to {
        width: 54.79%;
        top: 21.28%;
        left: 0;
      }
      #well-red {
        width: 47.60%;
        top: 15.36%;
        right: 5.625%;
      }
      #chic-pencils {
        width: 20.42%;
        top: 26.26%;
        right: 11.77%;
        z-index: 1;
      }
      #mcqueen {
        width: 26.77%;
        top: 32.83%;
        left: 3.33%;
      }
      #b-makeup {
        width: 65.1%;
        top: 30.75%;
        right: 0;
      }
      #red-box {
        width: 36.04%;
        top: 41.30%;
        right: 18.44%;
      }
      #candles {
        width: 44.79%;
        top: 47.68%;
        left: 4.9%;
      }
      #golden-hour {
        width: 61.56%;
        top: 58.96%;
        left: 0;
      }
      #orange-bag {
        width: 29.17%;
        top: 55.31%;
        right: 0;
      }
      #white-boxes {
        width: 40.83%;
        top: 68.14%;
        left: 9.375%;
      }
      #white-bags {
        width: 44.48%;
        top: 63.6%;
        right: 5.26%;
      }
      #business-cards {
        width: 35.73%;
        top: 80.36%;
        left: 5.21%;
      }
      #folding-things {
        width: 58.33%;
        top: 76.21%;
        right: 0;
      }
      #white-ribbon {
        width: 71.25%;
        top: 88.09%;
        left: 15.83%;
      }
      .heading-section h1 {
        width: 275px;
        @media only screen and (max-width: $mobile-width) {
          font-size: 14pt;
          width: 150px;
          padding-left: 25px;
        }
      }
      #heading-section-1 {
        top: 12.08%;
        left: 0;
      }
      #heading-section-2 {
        top: 48.31%;
        right: 0;
      }
    }
  }
}