@import '_variables';

body.strategy {
  background-color: $white;
  .work-with-us {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .top-background {
    background-image: image-url("page_strategy/top_background.png");
    background-size: contain;
  }
  .content {
    .section-heading {
      display: inline-block;
      background-color: $black;
      color: $white;
      text-transform: uppercase;
      font-family: 'Gotham A', 'Gotham B';
      letter-spacing: 3px;
      font-weight: normal;
      font-size: 1.4em;
      padding: 15px 40px 15px 65px;
    }
    #discovery {
      position: relative;
      margin-top: 20px;
      height: 1200px;
      @media only screen and (max-width: $six_hundreds) {
        height: 870px;
      }
      #stroke-blue {
        position: absolute;
        right: 0px;
        top: -150px;
        width: 150px;
        height: 150px;
        background-image: image-url("page_strategy/stroke_blue.png");
        background-repeat: no-repeat;
        background-position: 60px 0;
      }
      #spatz-text {
        position: absolute;
        top: 30px;
        left: 29%;
        width: 370px;
        height: 350px;
        @media only screen and (max-width: $five_hundreds) {
          top: 70px;
          left: -1%;
        }
        h2 {
          font-size: 11em;
          font-weight: 400;  
          position: absolute;
          bottom: 25px;  
          left: 91px;
          font-family: 'DidotLTStd-Bold';  
        }
        #right-col {
          float: right;
          font-family: 'Gotham A', 'Gotham B';
          font-size: 0.7em;
          letter-spacing: 1px;
          font-weight: 400;
          line-height: 16px;
          text-transform: uppercase;
          p {
            margin: 10px;
          }
          p:first-child {
            margin-bottom: 32px;
            font-style: italic;
            font-weight: normal;
          }
        }
      }
      #image-container {
        img {
          z-index: 1;
        }
        position: relative;
        top: 300px;
        width: 100%;
        #lipstick {
          position: absolute;
          width: 21%;
          top: 66px;
          left: 0;
          transition: all 200ms ease-out;
          @media only screen and (max-width: $nine_hundreds) {
            top: 400px;
            width: 27%;
          } 
        }
        #flower {
          position: absolute;
          width: 7%;
          top: 0;
          left: 23%;
          transition: all 200ms ease-out;
          @media only screen and (max-width: $nine_hundreds) {
            display: none;
          } 
        }
        #colors {
          position: absolute;
          width: 20%;
          top: 146px;
          left: 33%;
          transition: all 200ms ease-out;
          @media only screen and (max-width: $nine_hundreds) {
            bottom: 390px;
            left: 0;
            width: 27%;
          } 
        }
        #student-spatz {
          float: right;
          width: 46%;
          margin-top: 70px;
          transition: all 200ms ease-out;
          @media only screen and (max-width: $nine_hundreds) {
            margin-top: 4px;
            width: 71%;
          } 
          #student {
            width: 25%;
            margin-bottom: 8px;
          }
          #spatz {
            width: 100%;
          }
        }
        #stroke-orange {
          position: absolute;
          width: 150px;
          height: 150px;
          top: 450px;
          left: 10%;
          background-image: image-url("page_strategy/stroke_orange.png");
          background-repeat: no-repeat;
          background-position: 0 0;
          transition: all 200ms ease-out;
          @media only screen and (max-width: $nine_hundreds) {
            top: -90px;
          } 
        }
      }
    }
    #the-result {
      width: 100%;
      position: relative;
      height: 1300px;
      transition: all 200ms ease-out;
      @media only screen and (max-width: $first_break_width) {
        margin-top: 200px;
      } 
      @media only screen and (max-width: $nine_hundreds) {
        margin-bottom: 200px;
      } 
      .section-heading {
        position: absolute;
        top: -30px;
        left: 0;
      }
      .text-section {
        position: relative;
        width: 400px;
      }
      #who-we-are {
        position: relative;
        top: 145px;
        left: 10%;
        z-index: 2;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $nine_hundreds) {
          top: 255px;
        } 
      }
      #how-we-do-it {
        position: relative;
        top: 400px;
        left: 10%;
        z-index: 2;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $nine_hundreds) {
          top: 660px;
        } 
      }
      #our-story {
        position: relative;
        top: -680px;
        left: 50%;
        z-index: 2;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $nine_hundreds) {
          top: -610px;
          left: 30%;
        } 
      }
      #what-we-do {
        position: relative;
        top: -370px;
        left: 50%;
        z-index: 2;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $nine_hundreds) {
          top: -190px;
          left: 30%;
        } 
      }
      h2 {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 11px;
        text-transform: uppercase;
        font-family: 'Gotham A', 'Gotham B';
        @media only screen and (min-width: $second_break_width) {
          font-size: 21px;
          margin-bottom: 20px;
        }
      }
      h3 {
        margin-top: 13px;
        font-weight: 400;
        line-height: 20px;
        font-style: italic;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase; 
        font-family: 'Gotham A', 'Gotham B';
      }
      p {
        font-size: 11px;
        letter-spacing: 1px;
        font-family: 'Gotham A', 'Gotham B';
        width: 292px;
        @media only screen and (min-width: $second_break_width) {
          font-size: 14px;
        }
      }
      #stroke-yellow {
        position: absolute;
        top: 425px;
        left: 0%;
        width: 110%;
        height: 650px;
        background-image: image-url("page_strategy/stroke_yellow.png");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
      #stroke-red {
        position: absolute;
        top: 550px;
        left: 400px;
        width: 30px;
        height: 30px;
        background-image: image-url("page_strategy/stroke_red.png");
        background-repeat: no-repeat;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $nine_hundreds) {
          top: 0;
          left: 540px;
        } 
      }
    }
  }
}