$font-change-width: 1155px;
$layout-change-width: 905px;
$mobile-width: 640px;

body.strategy {
  background-color: white;
  .work-with-us {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .top-background {
    background-image: image-url("page_strategy/top_background_new.png");
    background-size: contain;
  }
  .content {
    .section-heading {
      display: inline-block;
      background-color: black;
      color: white;
      font-family: 'DidotLtStd-Italic';
      letter-spacing: 3px;
      font-weight: normal;
      font-size: 60px;
      padding: 15px 40px 15px 65px;
      }
    #strategy-case-study {
      position: absolute;
      right: 0;
    }
    #discovery {
      position: relative;
      height: 350px;
      margin-top: 210px;
      #stroke-blue {
        position: absolute;
        right: -1%;
        top: -150px;
        width: 12%;
        padding-top: 13%;
        background-image: image-url("page_strategy/stroke_blue.png");
        background-repeat: no-repeat;
        background-position: 60px 0;
        background-size: contain;
        @media only screen and (max-width: $layout-change-width) {
          width: 25%;
          padding-top: 16%;
        }
      }
      #spatz-text {
        position: absolute;
        top: 18px;
        left: 43%;
        width: 288px;
        height: 333px;
        @media only screen and (max-width: 585px) {
          left: 29%;
        }
        @media only screen and (max-width: 450px) {
          left: 6%;
          top: 50px;
        }
        #amp {
          float: left;
          line-height: 190px;
          padding-top: 143px; 
          width: 128px;
          font-size: 11em;
          font-weight: 400; 
          font-family: 'DidotLTStd-Bold';  
        }
        #right-col {
          float: right;
          width: 160px;
          font-family: 'Gotham A', 'Gotham B';
          font-size: 0.7em;
          letter-spacing: 1px;
          font-weight: 400;
          line-height: 16px;
          text-transform: uppercase;
          p {
            margin: 10px;
          }
          p:first-child {
            margin-bottom: 32px;
            font-style: italic;
            font-weight: normal;
          }
        }
      }
    }
    .image-container {
      position: relative;
      padding-top: 60%;
      transition: all 200ms ease-out;
      @media only screen and (max-width: $layout-change-width) {
        padding-top: 97.22%;
        margin-top: 100px;
      }
      img {
        position: absolute;
      }
      #lipstick {
        width: 21.46%;
        top: 12.5%;
        left: 0;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          width: 29.44%;
          top: 56.14%;
          left: 0;
        }
      }
      #flower {
        width: 8.44%;
        top: 0;
        left: 23.125%;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          display: none;
        }
      }
      #colors {
        width: 19.69%;
        top: 31.42%;
        left: 32.5%;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          width: 29.44%;          
          top: 14.29%;
          left: 0;
        }
      }
      #student {
        width: 12.81%;
        top: 15.625%;
        left: 53.5%;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          width: 20%;
          top: 0;
          left: 31.25%;
        }
      }
      #spatz {
        width: 46.5%;
        top: 40.45%;
        left: 53.5%; 
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          width: 68.75%;
          top: 23%;
          left: 31.25%;
        }         
      }
      #stroke-orange {
        position: absolute;
        width: 150px;
        height: 150px;
        top: 82%;
        left: -30px;
        background-image: image-url("page_strategy/stroke_orange.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          top: -26%;
        }
      }
    }
    #the-result {
      position: relative;
      margin-top: 200px;
      height: 1300px;
      transition: all 200ms ease-out;
      @media only screen and (min-width: $layout-change-width) and (max-width: $font-change-width) {
        height: 1000px;
      } 
      .section-heading {
        position: absolute;
        top: -30px;
        left: 0;
      }
      .text-section {
        position: relative;
        width: 400px;
      }
      #who-we-are {
        position: relative;
        top: 145px;
        left: 10%;
        z-index: 2;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          top: 255px;
        } 
      }
      #how-we-do-it {
        position: relative;
        top: 400px;
        left: 10%;
        z-index: 2;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          top: 660px;
        } 
      }
      #our-story {
        position: relative;
        top: -70%;
        left: 50%;
        z-index: 2;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $font-change-width) {
          top: -660px;
        } 
        @media only screen and (max-width: $layout-change-width) {
          top: -610px;
          left: 22%;
        } 
        @media only screen and (max-width: 450px) {
          left: 10%; 
        }
      }
      #what-we-do {
        position: relative;
        top: -50%;
        left: 50%;
        z-index: 2;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $font-change-width) {
          top: -370px;
        } 
        @media only screen and (max-width: $layout-change-width) {
          top: -190px;
          left: 22%;
        } 
        @media only screen and (max-width: 450px) {
          left: 10%; 
        }
      }
      h2 {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 11px;
        text-transform: uppercase;
        font-family: 'Gotham A', 'Gotham B';
        @media only screen and (min-width: $font-change-width) {
          font-size: 21px;
          margin-bottom: 20px;
        }
      }
      h3 {
        margin-top: 13px;
        font-weight: 400;
        line-height: 20px;
        font-style: italic;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase; 
        font-family: 'Gotham A', 'Gotham B';
      }
      p {
        font-size: 11px;
        letter-spacing: 1px;
        font-family: 'Gotham A', 'Gotham B';
        width: 292px;
        @media only screen and (min-width: $font-change-width) {
          font-size: 14px;
        }
      }
      #stroke-yellow {
        position: absolute;
        top: 425px;
        left: 0%;
        width: 110%;
        height: 650px;
        background-image: image-url("page_strategy/stroke_yellow.png");
        background-repeat: no-repeat;
        background-position: 0 0;
      }
      #stroke-red {
        position: absolute;
        top: 550px;
        left: 400px;
        width: 30px;
        height: 30px;
        background-image: image-url("page_strategy/stroke_red.png");
        background-repeat: no-repeat;
        transition: all 200ms ease-out;
        @media only screen and (max-width: $layout-change-width) {
          top: -140px;
          left: 83%;
        } 
      }
    }
  }
}