<div id="main">
	<div class="top-background"></div>
	<div class="content">
	<div class="top-insert-outline">
	  <div class="top-insert">
	    <h1>Our Studio</h1>
	  </div>
	</div>
	<div class="portfolio-text-insert">		
	  <h2>SIMPLICITY IS THE ULTIMATE FORM OF SOPHISTICATION</h2>
	  <div></div>
	</div>
  	<!--<div id="capabilities">
      <h1>Capabilities</h1>
      <ul>
        <li>
          <h2>Brand Strategy</h2>
          <p>Naming / Tagline / Mission / Brand Story</p>
          <p>Logo / Brand Mark / Style Guides</p>
        </li>
        <li>
          <h2>Graphics &amp; Imagery</h2>
          <p>Packaging / Signage / Business Cards</p>
          <p>Stationery / Catalogs / Presentation Materials</p>
          <p>Product Photography / Lifestyle Imagery</p>
          <p>Illustration</p>
        </li>
        <li>
          <h2>Website</h2>
          <p>Mobile and Emerging Platforms / System</p>
          <p>Integration / Omni Channel Strategy</p>
          <p>Implementation</p>
        </li>
        <li>
          <h2>Retail</h2>
          <p>Display Design / Trade Show Design</p>
          <p>Kiosk Design / Windows / Point of Purchase</p>
          <p>Styling / Manufacturing Management</p>
        </li>
      </ul>
    </div>-->
    <div class="middle-container">
      <div class="top-drops scroll-slow"></div>
      <div id="mentioned">
        <div class="scroll-slow" id="recentlyfeatured">RECENTLY FEATURED IN</div>
        <div class="scroll-slow" id="refinery29"></div>
        <div class="scroll-slow" id="designsponge"></div>
      </div>
      <div class="middle-insert">
        Drawing From Memory (DFM) is a strategic branding, interactive, and creative agency located in the heart of downtown LA.  We specialize in building and supporting luxury brands in the digital and physical marketplace.  With a balance of fashion, fine art, material knowledge, and coding expertise, DFM is able to craft brands that are honed to a concise vision with a well articulated story.  Did we mention they look pretty good too?
      </div>
      <div class="fancy-text scroll-slow"></div>
      <div class="lower-drops"></div>
      <div class="lower-insert">
        <h1>Driving Forces</h1>
        <ul>
          <li>
            <h2 class="scroll-slow">Jennifer White</h2>
            <h3 class="scroll-slow">Creative Director</h3>
            <p>Jennifer is the principal creative force behind DFM. She provides clients with primary concepts, facilitates creative discussion, and directs graphics and design production. With a BFA in Photography from Rhode Island School of Design (RISD), Jen is a true storyteller. She has produced hundreds of websites, logos and visual materials and developed long lasting client relationships throughout the 12+ years she has been in business.</p>
          </li>
          <li>
            <h2 class="scroll-slow">Sharon Noh</h2>
            <h3 class="scroll-slow">Retail Director</h3>
            <p>Sharon spent her years after graduate school as a buyer and retail director of a chain of family-run sports retailers in Chicago. She successfully saw the company through an expansion to e-commerce both domestically and internationally. Sharon holds a BFA from the Rhode Island School of Design (RISD) and an MFA in Industrial Design from the Art Institute of Chicago. Not only does she have great insight into retail, but she has also designed product packaging, retail and expo installations for many DFM clientele.</p>
          </li>
<!--           <li>
            <h2 class="scroll-slow">Younee Lee</h2>
            <h3 class="scroll-slow">Art Director</h3>
            <p>Younee has a strong command of the design language. She studied advertising and visual communication design prior to earning a BFA from Art Center College of Design with a focus on brand identity and typography. After graduating with honors, she had the privilege of working with brands like American Apparel, Nike, Sony, and Pinkberry to name a few.  Seeing a brand persona and then bringing it to life is Younee’s specialty.</p>
          </li> -->
        </ul>
      </div>      
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>