<div id="main">
	<div class="top-background"></div>
	<div class="content">
  	<div id="capabilities">
      <h1>Capabilities</h1>
      <ul>
        <li>
          <h2>Brand Strategy</h2>
          <p>Naming / Tagline / Mission / Brand Story</p>
          <p>Logo / Brand Mark / Style Guides</p>
        </li>
        <li>
          <h2>Graphics &amp; Imagery</h2>
          <p>Packaging / Signage / Business Cards</p>
          <p>Stationery / Catalogs / Presentation Materials</p>
          <p>Product Photography / Lifestyle Imagery</p>
          <p>Illustration</p>
        </li>
        <li>
          <h2>Website</h2>
          <p>Mobile and Emerging Platforms / System</p>
          <p>Integration / Omni Channel Strategy</p>
          <p>Implementation</p>
        </li>
        <li>
          <h2>Retail</h2>
          <p>Display Design / Trade Show Design</p>
          <p>Kiosk Design / Windows / Point of Purchase</p>
          <p>Styling / Manufcaturing Management</p>
        </li>
      </ul>
    </div>
    <div class="middle-container">
      <div class="top-drops scroll-slow"></div>
      <div class="middle-insert">
        Drawing From Memory (DFM) is a strategic branding, interactive, and creative agency located in the heart of downtown LA.  We specialize in building and supporting luxury brands in the digital and physical marketplace.  With a balance of fashion, fine art, material knowledge, and coding expertise, DFP is able to craft brands that are honed to a concise vision with a well articulated story.  Did we mention they look pretty good too?
      </div>
      <div class="fancy-text scroll-slow"></div>
      <div class="lower-drops"></div>
      <div class="lower-insert">
        <h1>Driving Forces</h1>
        <ul>
          <li>
            <h2 class="scroll-slow">Jennifer White</h2>
            <h3 class="scroll-slow">Creative Director</h3>
            <p>Primary concepts, graphics and design direction are the responsibility of Jennifer White.  She presents all concepts to clients and facilitates feedback and discussion of all creative direction. Jennifer holds a BFA in Photography from Rhode Island School of Design (RISD) and has owned and operated DFM (assuming other names) since 2001. She has produced hundreds of websites, logos, visual materials and developed long lasting client relationships throughout the 10 + years she has been in business.</p>
          </li>
          <li>
            <h2 class="scroll-slow">Sharon Noh</h2>
            <h3 class="scroll-slow">Retail Director</h3>
            <p>Sharon is the lead creative on all three dimensional design projects.  Sharon holds a BFA in Print Making from the Rhode Island School of Design (RISD) and a MFA in Industrial Design form the Art Institute of Chicago.</p>
          </li>
        </ul>
      </div>      
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>