
<div id="main">
	<div class="top-background"></div>
	<div class="content">
		<div class="top-insert-outline">
			<div class="top-insert">
				<h1>Contact Us</h1>
			</div>
		</div>
		<div class="portfolio-text-insert">
		  <h2>DFM</h2>
		  <p> THE COLLECTION BUILDING <br>
		  527 W. 7th St, Ste. 704 <br>
		  Los Angeles, CA 90014 <br>
		  323 482 1876
		  <div></div>
		</div>
		<div class="map-graphic"></div>
		<div class="f-graphic"></div>
		<div class="form">
			<!-- placeholder form for email contact -->
			<div class="form-div">
				<h1 class="form-required">Required<span class="super-script">*</span></h1>
				<label>First Name <span class="super-script">*</span></label><br>
				<input id="contact-first-name" class="required" type="text"><br>
				<label>Last Name <span class="super-script">*</span></label><br>
				<input id="contact-last-name" class="required" type="text"><br>
				<label>Email <span class="super-script">*</span></label><br>
				<input id="contact-email" class="required" type="text"><br>
				<label>Phone <span class="super-script">*</span></label><br>
				<input id="contact-phone" class="required" type="text"><br>
				<label>Tell us about your project </label><br>
				<textarea id="contact-project"></textarea> <br>
				<label>No Robots - Please type in "norobot" <span class="super-script">*</span></label><br>
				<input id="nr" class="required" type="text"><br>
				
				<input id="contact-submit" type="submit" value="submit">
				<div id="server-response"></div>
			</div>
		</div>
	</div>
</div>