<div id="main" rel="nofollow">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Identity</h1>
        <h2>Every brand is a story. The best ones connect with the audience emotionally, physically, and ultimatley become a part of thier lives. From the brand story, the identity is built. Identy design is the heart and soul of our studio, and it all starts with a mark.</h2>
      </div>
    </div>
    <div class="top-container">
      <div id="block-01" class="text">
        <p rel="nofollow">Nature. Science. Beauty. / Beauty from science and nature / Beauty from nature and <br>science / The art and science of water / The science <br> of nature's beauty / The beautifying power of water / The secret is in the water <br> / Beauty from the water / Feel the power of nature and science</p>
      </div>
      <div id="block-02" class="text">
        <ul>
          <li rel="nofollow">Micro Water Complex</li>
        </ul>
        <ul>
          <li rel="nofollow">hydrolog.ie</li>
          <li rel="nofollow">hydrologieskin.com</li>
          <li rel="nofollow">hydrologyskincare.com</li>
          <li rel="nofollow">skinhydrology.com</li>
        </ul>
      </div>
      <div id="block-03" class="text">
        <ul>
          <li rel="nofollow">Hydrology</li>
          <li rel="nofollow">Hydrologica</li>
          <li rel="nofollow">Hydroderma</li>
          <li rel="nofollow">Hydrolivery</li>
          <li rel="nofollow">Hydroplex</li>
        </ul>
        <ul>
          <li rel="nofollow">Bioplex</li>
          <li rel="nofollow">H20plex</li>
          <li rel="nofollow">Biom Azure</li>
          <li rel="nofollow">Azurity</li>
          <li rel="nofollow">Alluvion</li>
        </ul>
        <ul>
          <li rel="nofollow">Alluvione</li>
          <li rel="nofollow">Onda</li>
          <li rel="nofollow">Vanda</li>
          <li rel="nofollow">Naava</li>
          <li rel="nofollow">Talori</li>
        </ul>
        <ul>
          <li rel="nofollow">Mikveh</li>
          <li rel="nofollow">Pronunciation</li>
          <li rel="nofollow">Pure immersion</li>
          <li rel="nofollow">Basin</li>
          <li rel="nofollow">Naturalogy</li>
        </ul>
      </div>
      <div id="block-04" class="text heading-section">
        <h1 class="scroll-slow-right">Brand Name</h1>
        <h1 class="scroll-slow-right">Exploration</h1>
      </div>
      <div id="block-05" class="text">
        <h2>Hydrologie</h2>
        <h5>The study of water's <br> movement around the earth</h5>
      </div>
      <div id="block-06" class="text">
        <h1>Brand Sketch</h1>
        <div id="box">
          <p rel="nofollow">Mid/High-end skincare, body, and nail products that are unique due to the minerals used in the formulation and the Micro-Water Complex.</p>
          <p rel="nofollow">AHAVA, Oro Gold, Premier, H2O+, Biotherm</p>
          <p rel="nofollow">Women ages 25 - 45 / Middle class <br> Looking for products with an immediate result <br>Like to go out to parties and events <br>Prefer products that are a quick fix, rather than ones <br>meant to be used over time <br>Crea a lot about how they look <br>Willing to spend money on products that deliver effects.</p>
          <p rel="nofollow">Known as the go-to-alternative to botox <br>Helps women fight the signs of aging, with immediate effects.</p>
        </div>
      </div>
      <div id="black-band">
        <div id="black-band-lists">
          <ul>
            <li rel="nofollow">Underwater</li>
            <li rel="nofollow">deep</li>
            <li rel="nofollow">depths</li>
            <li rel="nofollow">10,000 leagues</li>
            <li rel="nofollow">abyss</li>
            <li rel="nofollow">plunge</li>
            <li rel="nofollow">immerse</li>
            <li rel="nofollow">submerge</li>
            <li rel="nofollow">subaqueous</li>
            <li rel="nofollow">serene</li>
            <li rel="nofollow">drift</li>
            <li rel="nofollow">ama</li>
          </ul>
          <ul>
            <li rel="nofollow">Pigment</li>
            <li rel="nofollow">prussian</li>
            <li rel="nofollow">cobalt</li>
            <li rel="nofollow">ultramarine</li>
            <li rel="nofollow">turquoise</li>
            <li rel="nofollow">aquamarine</li>
            <li rel="nofollow">indigo</li>
            <li rel="nofollow">cerulean</li>
            <li rel="nofollow">phthalo</li>
            <li rel="nofollow">delft</li>
            <li rel="nofollow">saphire</li>
            <li rel="nofollow">sky</li>
            <li rel="nofollow">azul</li>
            <li rel="nofollow">azure</li>
          </ul>
          <ul>
            <li rel="nofollow">Water Translation</li>
            <li rel="nofollow">l'eau de vie (water of life, french)</li>
            <li rel="nofollow">onda (wave, italian)</li>
            <li rel="nofollow">marea (tide, italian)</li>
            <li rel="nofollow">maree (tide, french)</li>
            <li rel="nofollow">riviere (river, french + italian)</li>
            <li rel="nofollow">flux (flow, french)</li>
            <li rel="nofollow">maremoto (tidal wave, italian)</li>
          </ul>
          <ul>
            <li rel="nofollow">Water</li>
            <li rel="nofollow">hydro</li>
            <li rel="nofollow">cascade</li>
            <li rel="nofollow">flow</li>
            <li rel="nofollow">wave</li>
            <li rel="nofollow">crashing waves</li>
            <li rel="nofollow">ripple</li>
            <li rel="nofollow">tide</li>
            <li rel="nofollow">coral</li>
            <li rel="nofollow">tourmaline</li>
            <li rel="nofollow">mineral springs</li>
            <li rel="nofollow">osmosis</li>
            <li rel="nofollow">aquifer</li>
            <li rel="nofollow">aqueduct</li>
          </ul>
          <ul>
            <li rel="nofollow">Word Association</li>
            <li rel="nofollow">purity</li>
            <li rel="nofollow">beauty</li>
            <li rel="nofollow">perfection</li>
            <li rel="nofollow">power</li>
            <li rel="nofollow">force</li>
            <li rel="nofollow">spa</li>
            <li rel="nofollow">glass</li>
            <li rel="nofollow">healing</li>
            <li rel="nofollow">improve</li>
          </ul>
          <ul>
            <li rel="nofollow">Micor</li>
            <li rel="nofollow">mikros (micro, greek)</li>
            <li rel="nofollow">essential</li>
            <li rel="nofollow">fundamental</li>
            <li rel="nofollow">basic</li>
            <li rel="nofollow">element</li>
            <li rel="nofollow">essence</li>
            <li rel="nofollow">essentia</li>
            <li rel="nofollow">prime</li>
            <li rel="nofollow">entity</li>
            <li rel="nofollow">vitamin</li>
            <li rel="nofollow">nutrient</li>
            <li rel="nofollow">vitamer</li>
            <li rel="nofollow">catelyst</li>
            <li rel="nofollow">cell</li>
          </ul>
          <ul>
            <li rel="nofollow">Delivery</li>
            <li rel="nofollow">transger</li>
            <li rel="nofollow">portage</li>
            <li rel="nofollow">movment</li>
            <li rel="nofollow">carriage</li>
            <li rel="nofollow">pass</li>
            <li rel="nofollow">effect</li>
          </ul>
        </div>
      </div>
      <div id="block-07" class="text">
        <h1 class="black-bar scroll-slow-left">Final</h1>
        <h1 class="black-bar scroll-slow-left">Logo Marks</h1>
      </div>
      <div id="logo-container">
        <div class="row">
          <div id="logo-01" class="logo scroll-slow"></div>
          <div id="logo-02" class="logo scroll-medium"></div>
          <div id="logo-03" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-04" class="logo scroll-slow"></div>
          <div id="logo-05" class="logo scroll-medium"></div>
          <div id="logo-06" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-07" class="logo scroll-slow"></div>
          <div id="logo-08" class="logo scroll-medium"></div>
          <div id="logo-09" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-10" class="logo scroll-slow"></div>
          <div id="logo-11" class="logo scroll-medium"></div>
          <div id="logo-12" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-13" class="logo scroll-slow"></div>
          <div id="logo-14" class="logo scroll-medium"></div>
          <div id="logo-15" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-16" class="logo scroll-slow"></div>
          <div id="logo-17" class="logo scroll-medium"></div>
          <div id="logo-18" class="logo scroll-slow"></div>
        </div>
      </div>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>