<div id="main" rel="nofollow">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Identity</h1>
        <h2>Every brand is a story. The best ones connect with the audience emotionally, physically, and ultimatley become a part of thier lives. From the brand story, the identity is built. Identy design is the heart and soul of our studio, and it all starts with a mark.</h2>
      </div>
    </div>
    <div class="top-container">
      <div id="block-01" class="text">
        <p>Nature. Science. Beauty. / Beauty from science and nature / Beaury from nature and <br>science / The art and science of water / The science <br> of nature's beauty / The beautifying power of water / The secret is in the water <br> / Beauty from the water / Feel the power of nature and science</p>
      </div>
      <div id="block-02" class="text">
        <ul>
          <li>Micro Water Complex</li>
        </ul>
        <ul>
          <li>hydrolog.ie</li>
          <li>hydrologieskin.com</li>
          <li>hydrologyskincare.com</li>
          <li>skinhydrology.com</li>
        </ul>
      </div>
      <div id="block-03" class="text">
        <ul>
          <li>Hydrology</li>
          <li>Hydrologica</li>
          <li>Hydroderma</li>
          <li>Hydrolivery</li>
          <li>Hydroplex</li>
        </ul>
        <ul>
          <li>Bioplex</li>
          <li>H20plex</li>
          <li>Biom Azure</li>
          <li>Azurity</li>
          <li>Alluvion</li>
        </ul>
        <ul>
          <li>Alluvione</li>
          <li>Onda</li>
          <li>Vanda</li>
          <li>Naava</li>
          <li>Talori</li>
        </ul>
        <ul>
          <li>Mikveh</li>
          <li>Pronunciation</li>
          <li>Pure immersion</li>
          <li>Basin</li>
          <li>Naturalogy</li>
        </ul>
      </div>
      <div id="block-04" class="text heading-section">
        <h1 class="scroll-slow-right">Brand Name</h1>
        <h1 class="scroll-slow-right">Exploration</h1>
      </div>
      <div id="block-05" class="text">
        <h2>Hydrologie</h2>
        <h5>The study of water's <br> movement around the earth</h5>
      </div>
      <div id="block-06" class="text">
        <h1>Brand Sketch</h1>
        <div id="box">
          <p>Mid/High-end skincare, body, and nail products that are unique due to the minerals used in the formulation and the Micro-Water Complex.</p>
          <p>AHAVA, Oro Gold, Premier, H2O+, Biotherm</p>
          <p>Women ages 25 - 45 / Middle class <br> Looking for products with an immediate result <br>Like to go out to parties and events <br>Prefer products that are a quick fix, rather than ones <br>meant to be used over time <br>Crea a lot about how they look <br>Willing to spend money on products that deliver effects.</p>
          <p>Known as the go-to-alternative to botox <br>Helps women fight the signs of aging, with immediate effects.</p>
        </div>
      </div>
      <div id="black-band">
        <div id="black-band-lists">
          <ul>
            <li>Underwater</li>
            <li>deep</li>
            <li>depths</li>
            <li>10,000 leagues</li>
            <li>abyss</li>
            <li>plunge</li>
            <li>immerse</li>
            <li>submerge</li>
            <li>subaqueous</li>
            <li>serene</li>
            <li>drift</li>
            <li>ama</li>
          </ul>
          <ul>
            <li>Pigment</li>
            <li>prussian</li>
            <li>cobalt</li>
            <li>ultramarine</li>
            <li>turquoise</li>
            <li>aquamarine</li>
            <li>indigo</li>
            <li>cerulean</li>
            <li>phthalo</li>
            <li>delft</li>
            <li>saphire</li>
            <li>sky</li>
            <li>azul</li>
            <li>azure</li>
          </ul>
          <ul>
            <li>Water Translation</li>
            <li>l'eau de vie (water of life, french)</li>
            <li>onda (wave, italian)</li>
            <li>marea (tide, italian)</li>
            <li>maree (tide, french)</li>
            <li>riviere (river, french + italian)</li>
            <li>flux (flow, french)</li>
            <li>maremoto (tidal wave, italian)</li>
          </ul>
          <ul>
            <li>Water</li>
            <li>hydro</li>
            <li>cascade</li>
            <li>flow</li>
            <li>wave</li>
            <li>crashing waves</li>
            <li>ripple</li>
            <li>tide</li>
            <li>coral</li>
            <li>tourmaline</li>
            <li>mineral springs</li>
            <li>osmosis</li>
            <li>aquifer</li>
            <li>aqueduct</li>
          </ul>
          <ul>
            <li>Word Association</li>
            <li>purity</li>
            <li>beauty</li>
            <li>perfection</li>
            <li>power</li>
            <li>force</li>
            <li>spa</li>
            <li>glass</li>
            <li>healing</li>
            <li>improve</li>
          </ul>
          <ul>
            <li>Micor</li>
            <li>mikros (micro, greek)</li>
            <li>essential</li>
            <li>fundamental</li>
            <li>basic</li>
            <li>element</li>
            <li>essence</li>
            <li>essentia</li>
            <li>prime</li>
            <li>entity</li>
            <li>vitamin</li>
            <li>nutrient</li>
            <li>vitamer</li>
            <li>catelyst</li>
            <li>cell</li>
          </ul>
          <ul>
            <li>Delivery</li>
            <li>transger</li>
            <li>portage</li>
            <li>movment</li>
            <li>carriage</li>
            <li>pass</li>
            <li>effect</li>
          </ul>
        </div>
      </div>
      <div id="block-07" class="text">
        <h1 class="black-bar scroll-slow-left">Final</h1>
        <h1 class="black-bar scroll-slow-left">Logo Marks</h1>
      </div>
      <div id="logo-container">
        <div class="row">
          <div id="logo-01" class="logo scroll-slow"></div>
          <div id="logo-02" class="logo scroll-medium"></div>
          <div id="logo-03" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-04" class="logo scroll-slow"></div>
          <div id="logo-05" class="logo scroll-medium"></div>
          <div id="logo-06" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-07" class="logo scroll-slow"></div>
          <div id="logo-08" class="logo scroll-medium"></div>
          <div id="logo-09" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-10" class="logo scroll-slow"></div>
          <div id="logo-11" class="logo scroll-medium"></div>
          <div id="logo-12" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-13" class="logo scroll-slow"></div>
          <div id="logo-14" class="logo scroll-medium"></div>
          <div id="logo-15" class="logo scroll-slow"></div>
        </div>
        <div class="row">
          <div id="logo-16" class="logo scroll-slow"></div>
          <div id="logo-17" class="logo scroll-medium"></div>
          <div id="logo-18" class="logo scroll-slow"></div>
        </div>
      </div>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>