<div id="main">
  <div id="top">
    <div id="video">
      <video preload loop muted autoplay webkit-playsinline>
        <source src="/videos/video.webm" type="video/webm"></source>
        <source src="/videos/video.ogg" type="video/ogg"></source>
        <source src="/videos/video.mp4" type="video/mp4"></source>
      </video>
    </div>
      <div class="feature-image hide-mobile">
        <a href="/kavaldon"><div id="kavaldon-link"></div></a>
      </div>
  </div>
  <div id="services">
    <div class="hover">
      <a href="/beauty" class="main-links">
          <div id="branding-link" class="hidden-hover"></div>Beauty</a>
      <ul>
        <li>Brand Strategy</li>
        <li>Identity Design</li>
        <li>Retail Display Design</li>
        <li>Marketing Content</li>
        <li>Packaging Design</li>
      </ul>
      <div class="image"></div>
      <h2 class="department">Beauty</h2>
    </div>
    <div class="hover">
      <a href="/fashion" class="main-links">
          <div id="graphic-link" class="hidden-hover"></div>Fashion</a>
      <ul>
        <li>Naming</li>
        <li>Logo Design</li>
        <li>Label & Hang Tag Design</li>
        <li>e-Commerce Design</li>
        <li>Trade Show Booth Design</li>
      </ul>
      <div class="image"></div>
      <h2 class="department">Fashion</h2>
    </div>
    <div class="hover">
      <a href="/lifestyle" class="main-links"><div id="website-link" class="hidden-hover"></div>
        Lifestyle</a>
      <ul>
        <li>Brand Identity</li>
        <li>Marketing Messaging</li>
        <li>Business Collateral</li>
        <li>Photography</li>
        <li>POS Materials</li>
      </ul>
      <div class="image"></div>
      <h2 class="department">Lifestyle</h2>
    </div>
    <div class="hover">
      <a href="/capability" class="main-links">
          <div id="retail-link" class="hidden-hover"></div>
        Capabilities</a>
      <ul>
        <li>Brand Strategy</li>
        <li>Brand Identity</li>
        <li>Graphic Design</li>
        <li>Imagery</li>
        <li>Interactive</li>
        <li>Retail</li>
      </ul>
      <div class="image"></div>
      <h2 class="department">Environmental</h2>
    </div>
    <div class="feature-image show-mobile">
      <a href="/kavaldon"><div id="kavaldon-link-mobile"></div></a>
    </div>
    <div id="about-blurb">
      <div id="text">Drawing From Memory (DFM) is a creative design and branding agency in the heart of downtown Los Angeles. Our <a href="/capability">capabilities</a> include Brand Strategy, Corporate Identity Design, Retail Design, and Website Design for established companies and start-up ventures. Specializing in the luxury, lifestyle, and consumer product markets, we tell compelling brand stories that connect directly with their audience across a range of platforms. From ground-up brand identity design infused with fine art heritage to turnkey product and retail design, DFM delivers cutting edge style at a boutique scale.  <a href="/contact">Meet with us</a>, tell us your ideas and <span class="home-work">we’ll make it real.</span> <br></div>
        <!--<div id="slider-container">
          <ul class="slider">
            <li class="slide">
              Drawing From Memory (DFM) is a Los Angeles graphic design, package design, web design, and branding agency specializing in the luxury and lifestyle markets. From ground-up brand identity to custom e-commerce builds, we tell brand stories that connect.  With fine art heritage and a laser focus eye on style, DFM delivers cutting edge design at a boutique scale. Meet with us, tell us your ideas and we’ll make it real. 
            </li>
            <li class="slide" id="slide-2">
               Jen and the team at Drawing from Memory have been a huge asset  
                to our wholesale business, direct-to-consumer e-commerce business  and overall digital strategy.  Their discerning aesthetic assures all of  our creative is on-brand and in-line with industry standards.  They are  incredibly talented digital producers and graphic designers who both  take direction well and pro actively contribute ideas; we can always  rely on them to deliver quality work, with a quick turnaround and under tight deadlines. Their knowledge of retail and the fashion industry,  
                as well as e-commerce best practices, have made them an invaluable  partner for us.
                Hillary Knoll, VP of E-commerce - Velvet by Graham &#38; Spencer - Culver City, CA
            </li>
            <li class="slide" id="slide-3">
              Drawing From Memory has been a great pleasure to work with.  From product packaging to our website design, DFM completely understands and grasps the image of our luxury brand and understands where we are at in regards to the growth of our new company.  We have been very pleased with the performance of  our website as well as the great communication and customer  service that DFM has provided.
              Victor Tanisaka - Director of Operations - Alexandra Von Furstenberg - West Hollywood, CA
            </li>
          </ul>
        </div>
        <div id="slider-buttons">
          <%= image_tag "page_index/chevron_left.svg", :id => "left-button" %>
          <%= image_tag "page_index/chevron_right.svg", :id => "right-button" %>
        </div>
      </div>-->
    </div>
  <div id="social">
    <div class="hover">
      <a href="http://www.instagram.com/drawingfrommemory" target="_blank">Follow Us On Instagram</a>
      <div class="image">
        <!-- SnapWidget -->
        <script src="http://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="http://snapwidget.com/in/?u=ZHJhd2luZ2Zyb21tZW1vcnl8aW58NTAwfDF8MXx8bm98MHxub25lfG9uU3RhcnR8bm98eWVz&ve=110615" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      </div>
    </div>
    <div class="hover">
      <a href="/blog">Follow Our Blog</a>
      <div class="image"></div>
    </div>
    <div class="hover">
      <a href="https://www.pinterest.com/dfmla/" target="_blank">Follow Us On Pinterest</a>
      <div class="image"></div>
    </div>
  </div>
</div>