<div id="main">
  <div id="top">
    <div id="video">
      <video preload loop muted autoplay webkit-playsinline>
        <source src="/videos/video.webm" type="video/webm"></source>
        <source src="/videos/video.ogg" type="video/ogg"></source>
        <source src="/videos/video.mp4" type="video/mp4"></source>
      </video>
    </div>
      <div class="feature-image hide-mobile">
        <a href="/kavaldon"><div id="kavaldon-link"></div></a>
      </div>
  </div>
  <div id="services">
    <div class="hover">
      <a href="/identity" class="main-links">Branding</a>
      <ul>
        <li>Naming</li>
        <li>Tagline</li>
        <li>Mission Brand Story</li>
        <li>Logo</li>
        <li>Brand Mark</li>
        <li>Style Guides</li>
      </ul>
      <div class="image"></div>
      <h2 class="department">Strategy</h2>
    </div>
    <div class="hover">
      <a href="/packaging" class="main-links">Graphic</a>
      <ul>
        <li>Packaging / Signage</li>
        <li>Business Cards / Stationery</li>
        <li>Catalogs / Presentation</li>
      </ul>
      <div class="image"></div>
      <a href="/imagery" class="main-links">Imagery</a>
      <ul>
        <li>Lifestyle Imagery</li>
        <li>Product Photography</li>
        <li>Illustration</li>
      </ul>
      <div class="image"></div>
      <h2 class="department">Creative</h2>
    </div>
    <div class="hover">
      <a href="/interactive" class="main-links">Website</a>
      <ul>
        <li>Hand-Coded CSS</li>
        <li>Hand-Coded HTML</li>
        <li>Magento E-Commerce</li>
        <li>Wordpress</li>
        <li>Business Catalyst</li>
      </ul>
      <div class="image"></div>
      <h2 class="department">Interactive</h2>
    </div>
    <div class="hover">
      <a href="/environment" class="main-links">Retail</a>
      <ul>
        <li>Display Design</li>
        <li>Trade Show Design</li>
        <li>Kiosk Design</li>
        <li>Windows</li>
        <li>Point of Purchase</li>
        <li>Styling</li>
        <li>Manufacturing</li>
        <li>Management</li>
      </ul>
      <div class="image"></div>
      <h2 class="department">Environmental</h2>
    </div>
    <div class="feature-image show-mobile"></div>
    <div id="about-blurb">
      <div id="slider-container">
        <ul class="slider">
          <li class="slide">
            DFM is a branding agency specializing in branding strategy, creative collaboration, and interactive direction. We’re dedicated to direction, design, illustration, web, e-commerce, and art production services to bring all manner of creative projects to life. Thanks for visiting.
          </li>
          <li class="slide">
             Drawing From Memory (DFM) is a Los Angeles graphic design, package design, website design, and branding agency specializing in working with creative companies that require a strong visual voice. From luxury e-commerce to cutting edge fashion brands, we are passionate about creating a clear and cohesive story that is unique to each business and clearly communicates with a targeted audience.
          </li>
          <li class="slide">
            We create brand identities through a combination of market research and in-depth discussions with our clients. With a diverse background in the fine arts, industrial design, retail and web design, we are able to push the limits in a variety of mediums. As a boutique scale, Los Angeles branding agency, DFM will give the attention and care that exclusive brands require in order to thrive.
          </li>
        </ul>
      </div>
      <div id="slider-buttons">
        <%= image_tag "page_index/chevron_left.svg", :id => "left-button" %>
        <%= image_tag "page_index/chevron_right.svg", :id => "right-button" %>
      </div>
    </div>
  </div>
  <div id="social">
    <div class="hover">
      <a href="http://www.instagram.com/drawingfrommemory" target="_blank">Follow Us On Instagram</a>
      <div class="image"></div>
    </div>
    <div class="hover">
      <a href="/blog">Follow Our Blog</a>
      <div class="image"></div>
    </div>
    <div class="hover">
      <a href="https://www.pinterest.com/dfmla/" target="_blank">Follow Us On Pinterest</a>
      <div class="image"></div>
    </div>
  </div>
</div>