<div id="main">
    <div class="top-background"></div>
    <div class="parallax-background"></div>
    <div class="content">

        <div class="top-container">
            <div class="top-insert-outline">
                <div class="top-insert">
                    <h1>Skin Laundry</h1>
                    <h3>Brand Direction, Website Design, Photography</h3>
                </div>
            </div>

            <div class="portfolio-text-insert">
                <h1 class="scroll-medium">Interactive Design</h1>
                <p>When Skin Laundry - a California based express laser facial boutique - approached DFM, they were on the verge of a huge east coast expansion. With all of the right components in place, they needed their website  to really tell the full story of the brand. Within a two month time period, DFM pulled it all together into a cohesive story that the critics are raving about.</p>
                <div></div>
            </div>
      
            <div class="image-container">
                <div id="sl-row01">
                    <div id="sl-container01" class="block">
                        <img class="scroll-medium" src="images/page_skinlaundry/SL_birds.png"/>
                    </div>
                    <div id="sl-container02" class="block">
                        
                    </div>
                </div>
                  
                <div id="sl-row02">
                    <div id="sl-container03" class="block">
                        <h2>The Skin Laundry Philosophy</h2>
                        <p>We believe healthy skin starts with clean skin... really deep down clean. The type of clean that you can only get by tapping into modern technology and using advanced non-invasive lasers and light therapy to vaporize the dirt and toxins on the surface of the skin and to reach pore deep for completely clean skin. We eliminate the small problems to achieve big improvements.</p>
                    </div>
                    <div id="sl-container04" class="block">
                        <img class="scroll-slow" src="images/page_skinlaundry/SL_girl.png"/>
                    </div>
                </div>
              
                <div id="sl-row03">
                    <div id="sl-container05" class="block"></div>
                    <div id="sl-container06" class="block">
                        <img class="scroll-medium" src="images/page_skinlaundry/SL_surfer.png"/>
                    </div>
                    <div id="sl-container07" class="block">
                        <h1>CLEAN SKIN IS THE <br>BEST FOUNDATION</h1>
                    </div>
                </div>
                <div id="sl-row04">
                    <div id="sl-container08" class="block">
                        <img class="scroll-medium" src="images/page_skinlaundry/SL_palm.png"/>
                    </div>
                    <div id="sl-container09" class="block"></div>
                    <div id="sl-container10" class="block">
                        <img class="scroll-medium" src="images/page_skinlaundry/SL_water.png"/>
                    </div>
                </div>
                <div id="sl-row05">
                    <div id="sl-container11" class="block">
                        <img class="scroll-medium" src="images/page_skinlaundry/SL_iphone.png"/>
                    </div>
                </div>
                <div id="sl-row06">
                    <div id="sl-container12">
                        <img class="scroll-medium" src="images/page_skinlaundry/SL_product-detail.png" />
                    </div>
                </div>
                <div id="sl-row07">
                    <div id="sl-container13">
                        <h1>The future of healthy skin</h1>
                        <img class="scroll-medium" src="images/page_skinlaundry/SL_products.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"></div>
        
        <div class="middle-container">
            <div id="sl-list">           
                <h1>First time?</h1>
                <ul>
                    <li class="sl-bold"><strong>About Us</strong></li>
                    <li>Our Story</li>
                    <li>Laundry Stories</li>
                    <br>
                    <li class="sl-bold"><strong>The Treatment</strong></li>
                    <br>
                    <li class="sl-bold"><strong>Shop</strong></li>
                    <li>Products</li>
                    <li>Treatments</li>
                    <br>
                    <li class="sl-bold"><strong>Book</strong></li>
                    <br>
                    <li class="sl-bold"><strong>Laundry Locations</strong></li>
                </ul>
                <br>
            </div>
            <div id="computer">
                <img class="scroll-medium" src="images/page_skinlaundry/SL-imac.png" />
            </div>
        </div>        

        <div class="bottom-container">       

            <div class="site-page">
                <%= image_tag "page_skinlaundry/pgs.jpg", :class => "scroll-medium" %>
            </div>
            <div class="site-page">
                <%= image_tag "page_skinlaundry/pgs2.jpg", :class => "scroll-medium" %>
            </div>
            <div class="site-page">
                <%= image_tag "page_skinlaundry/pgs3.jpg", :class => "scroll-medium" %>
            </div>
          
        </div>
        <%= partial "layouts/work_with_us" %>
    </div>
</div>



