<div id="main">
    <div class="top-background"></div>
    <div class="parallax-background"></div>
    <div class="content">

        <div class="top-container">
            <div class="top-insert-outline">
                <div class="top-insert">
                    <h1>Skin Laundry</h1>
                    <h3>Website</h3>
                </div>
            </div>

            <div class="portfolio-text-insert">
                <h1 class="scroll-medium">Interactive Design</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                <div></div>
            </div>
      
            <div class="image-container">
                <div id="sl-row01">
                    <div id="sl-container01" class="block">
                        <img class="scroll-medium" src="images/page_skinlaundry/bottles_cropped.png"/>
                    </div>
                    <div id="sl-container02" class="block">
                        <h2>Wear the real you!</h2>
                        <p>It’s easy, fast and financially within reach for everyone. Our lightstar treatment&#0153; combines laser and light skin therapies to deeply cleanse skin every time for improved skin over time. You’ll love looking in the mirror and seeing your best self, every day.</p>
                    </div>
                </div>
                  
                <div id="sl-row02">
                    <div id="sl-container03" class="block">
                        <p>You’re all about simple routines and solutions that actually work. So are we. We’ve taken world-class laser and light therapy out of the doctor’s office and put it into our clinics – where it’s fast, affordable and incredibly effective. The 10 minute treatment is so easy – skin looks refreshed from the moment you walk out the door.</p>
                    </div>
                    <div id="sl-container04" class="block">
                        <img class="scroll-slow" src="images/page_skinlaundry/watercrop.jpg"/>
                    </div>
                </div>
              
                <div id="sl-row03">
                    <div id="sl-container05" class="block">
                        <img class="scroll-medium" src="images/page_skinlaundry/frecklegaze.png"/>
                    </div>
                    <div id="sl-container06" class="block">
                        <h1>CLEAN SKIN IS THE <br>BEST FOUNDATION</h1>
                    </div>
                </div>
            </div>
        </div>
<div class="parallax"></div>
        
        <div class="middle-container">
            <div id="sl-list">           
                <h1>First time?</h1>
                <ul>
                    <li class="sl-bold"><strong>About Us</strong></li>
                    <li>Our Story</li>
                    <li>Laundry Stories</li>
                    <br>
                    <li class="sl-bold"><strong>The Treatment</strong></li>
                    <br>
                    <li class="sl-bold"><strong>Shop</strong></li>
                    <li>Products</li>
                    <li>Treatments</li>
                    <br>
                    <li class="sl-bold"><strong>Book</strong></li>
                    <br>
                    <li class="sl-bold"><strong>Laundry Locations</strong></li>
                </ul>
                <br>
            </div>
            <div id="computer">
                <img class="scroll-medium" src="images/page_skinlaundry/SL-imac.png" />
                
            </div>
            <div id="sl-row04">
                <div id="sl-container07">
                    <h1>The future <br>of healthy skin</h1>
                </div>
                <div id="sl-container08">
                    <img class="scroll-medium" src="images/page_skinlaundry/SL-iphone.png" />
                </div>
            </div>
            <div id="sl-row05">
                <div id="sl-container09">
                    <img class="scroll-medium" src="images/page_skinlaundry/SL_product-detail.png" />
                </div>
            </div>
        </div>        

        <div class="bottom-container">       

            <div class="site-page">
                <%= image_tag "page_skinlaundry/pgs.jpg", :class => "scroll-medium" %>
            </div>
            <div class="site-page">
                <%= image_tag "page_skinlaundry/pgs2.jpg", :class => "scroll-medium" %>
            </div>
            <div class="site-page">
                <%= image_tag "page_skinlaundry/pgs3.jpg", :class => "scroll-medium" %>
            </div>
          
        </div>
        <%= partial "layouts/work_with_us" %>
    </div>
</div>



