body.entertainment {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_lifestyle/LC0A52071.jpg");
  }
  .portfolio-text-insert {
    color: #76787a;
    position:relative;z-index:100;
    h2 {
      font-family: 'Gotham A', 'Gotham B';
      text-transform: uppercase;
      margin-top: 50px;
      margin-bottom: 25px;
      font-size: 30px;
      letter-spacing: 5px;
      font-weight: 500;
      color: #000;
    }
      p {
        font-size: 14px;
      }
      .tagline {
        font-size: 12px;
        font-family: 'Gotham A', 'Gotham B';
        font-weight: 100;

      }
  }
  .whatsupmoms-text {
    width: 535px;
  }
  .selvarey-text {
    width: 611px;
  }
  .challen-text {
    width: 545px;
  }
  .content {
    .image-container-whatsupmoms {
      position: relative;
      padding-top: 155.44%;
      margin-bottom: 100px;
      img {
        position: absolute;
      }
      #wums1 {
        width: 78.8%;
        top: 3%;
        left: 10.4%;
      }
       #wums2 {
        width: 17.8%;
        top: 42%;
        left: 8.4%;
      }
      #wums3 {
        width: 41%;
        top: 42.43%;
        left: 29%;
      }
      #wums4 {
        width: 18.575%;
        top: 41.4%;
        right: 9.1%;
      }
      #wums5 {
        width: 50.96%;
        top: 84%;
        left: 17.3%
      }
    }

    .image-container-thechic {
      position: relative;
      padding-top: 124.44%;
      margin-bottom: 250px;
      img {
        position: absolute;
      }
      #logo {
        width: 25%;
        top: 5.73%;
        left: 38%;
      }
      #left-bc-1 {
        width: 18%;
        top: 19%;
        left: 10%; 
      }
      #right-party {
        width: 42%;
        top: 8%;
        right: 0;
      }
      #left-bc-2 {
        width: 18%;
        top: 35.1%;
        left: 10%;
      }
      #icons {
        width: 6%;
        top: 48%;
        left: 16%;
      }
      #chic-imac {
        width: 52%;
        top: 42%;
        left: 26%;
      }
      #blocks {
        width: 30%;
        top: 66%;
        right: 8%;
      }
      #portraitbig {
        width: 100%;
        left: 0;
        top: 75%;
      }
    }
    .image-container-tanya {
      position: relative;
      padding-top: 60.44%;
      margin-bottom: 180px;
      img {
        position: absolute;
      }
      #photo1 {
        width: 20.54%;
        top: 2.27%;
        left: 0;
      }
      #photo2 {
        width: 20.34%;
        top: 2.27%;
        left: 21.1%;
      }
      #photo3 {
        width: 20.04%;
        top: 2.27%;
        left: 42%;
      }
      #bcard {
        width: 26.04%;
        top: 23.37%;
        right: 8.5%;
      }
      #collateral {
        width: 44.04%;
        top: 47.07%;
        left: 5.2%;
      }
      #portrait {
        width: 33.44%;
        top: 68.77%;
        right: 5.3%;
      }
      
    }
    .image-container-whatifwe {
      position: relative;
      padding-top: 115.44%;
      margin-bottom: 180px;
      img {
        position: absolute;
      }
      #whatifwe1 {
        width: 91.54%;
        top: 4.27%;
        left: 6%;
      }
      #whatifwe2 {
        width: 26.34%;
        top: 40.27%;
        left: 7.1%;
      }
      #whatifwe3 {
        width: 46.04%;
        top: 52.27%;
        left: 7%;
      }
      #whatifwe4 {
        width: 27.34%;
        top: 52.37%;
        right: 6.1%;
      }
      #whatifwe5 {
        width: 20.04%;
        top: 77.37%;
        left: 7.2%;
      }
      #whatifwe6 {
        width: 23.04%;
        top: 77.07%;
        left: 30.2%;
      }
      #whatifwe7 {
        width: 43.44%;
        top: 88.77%;
        right: 28.3%;
      }
      
    }

  }
}