body.fashion {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_fashion/blue_flower2.jpg");
  }
  .portfolio-text-insert {
    color: #76787a;
    h2 {
      font-family: 'Gotham A', 'Gotham B';
      text-transform: uppercase;
      margin-top: 50px;
      margin-bottom: 25px;
      font-size: 20px;
      letter-spacing: 5px;
    }
      p {
        font-size: 14px;
      }
  }
  .content {
    .image-container-heidi {
          position: relative;
          padding-top: 50.44%;
          img {
            position: absolute;
          }
          #heidi {
            width: 85.2%;
            top: 4%;
            left: 7.3%;
          }
          #lineup {
            width: 54%;
            top: 30%;
            left: 0;
          }
          #lineup-2 {
            width: 54%;
            top: 30%;
            right: 0;
          }
          #sl-imac {
            width: 42.71%;
            left: 27.81%;
            top: 14.8%;
          }
        }
    
        .image-container-velvet {
          position: relative;
          padding-top: 85.44%;
          img {
            position: absolute;
          }
          #four-pics {
            width: 33%;
            top: -20%;
            right: 2%; 
          }
          #lineup-3 {
            width: 44%;
            top: 6%;
            left: 6%;
          }
          #velvet-computers {
            width: 64.81%;
            top: 32%;
            left: 18%;
          }
          #velvetsquare {
            width: 27.96%;
            top: 27%;
            left: 7%;
          }
	  	  #summer {
	        width: 57%;
	        top: 80%;
	        right: 0;
	  	  }
        }
        .image-container-good {
          position: relative;
          padding-top: 120.44%;
          margin-bottom: 200px;
          img {
            position: absolute;
          }
          #woman {
          	width: 43.96%;
          	top: 5%;
          	left: 8%;
          }
          #rings {
            width: 35%;
            top: 10%;
            right: 5%;
          		}
          #thing {
            width: 18%;
            top: -12%;
            right: 10%;
          }
          #th {
            width: 100%;
            top: 72%;
            left: 0%;
          }
          #boxset { 
            width: 50%;
            top: 35%;
            left: 19.5%;
          }
          #woman2 { 
            width: 18%;
            top: 28%;
            right: 4%;
          }
        }
        .image-container-th {
          position: relative;
          padding-top: 65.44%;
          margin-bottom: 180px;
          img {
            position: absolute;
          }
          #th-trophy {
            width: 30%;
            top: 27%;
            left: 7.81%;
          }
          #th-logo {
            width: 21%;
            top: -10%;
            right: 8%;
          }
          #th-rings2 {
            width: 52.14%;
            top: 35%;
            right: 4%;
          }
          #th-devices {
            width: 79.94%;
            top: 47%;
            right: 11%;
          }
        }
        .image-container-gh {
          position: relative;
          padding-top: 90.44%;
          img {
            position: absolute;
          }
          #gh-book {
            width: 30%;
            top: 22%;
            left: 9%;
          }
          #gh-tag1 {
            width: 29.94%;
            right: 8%;
            top: 22.2%;
          }
          #gh-tag2 {
            width: 29.94%;
            top: 2%;
            right: 8%;
          }
          #gh-banner {
            width: 100%;
            top: 41%;
            left: 0;
          }
        }
  }
}