body.lifestyle {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_fashion/blue_flower2.jpg");
  }
  .content {
    .image-container {
      position: relative;
      padding-top: 444.44%;
      img {
        position: absolute;
      }
      #heidi {
        width: 85.2%;
        top: 1.1%;
        left: 7.3%;
      }
      #lineup {
        width: 61%;
        top: 4.33%;
        left: 0;
      }
      #lineup-2 {
        width: 61%;
        top: 4.33%;
        right: 0;
      }
      #sl-imac {
        width: 42.71%;
        top: 2.3%;
        left: 27.81%;
      }
      #four-pics {
        width: 31.875%;
        top: 10.47%;
        right: 9%;
      }
  		#lineup-3 {
        width: 46.95%;
        top: 14.61%;
  			left: 9%;
  		}
      #velvet-computers {
        width: 64.81%;
        top: 18.9%;
        left: 18.31%;
      }
  		#velvetsquare {
        width: 27.96%;
        top: 18.47%;
        left: 10%
      }
  		#woman {
  			width: 43.96%;
        top: 33.67%;
        left: 10%
  		}
  		#summer {
        width: 56.67%;
			  top: 28.05%;
			  right: 0;
  		}
  		#rings {
        width: 36.17%;
        top: 34.75%;
        right: 7%;
  		}
      #thing {
        width: 19.17%;
        top: 30.65%;
        right: 13.25%;
      }
      #th {
        width: 100%;
        top: 50.9%;
        left: 0%;
      }
      #boxset { 
        width: 43.7%;
        top: 42.1%;
        left: 19.5%;
      }
      #woman2 { 
        width: 15.7%;
        top: 40%;
        right: 8.5%;
      }
      #th-trophy {
        width: 27.17%;
        top: 66.27%;
        left: 7.81%;
      }
  		#th-logo {
        width: 27.94%;
        top: 61.57%;
        right: 15%;
  		}
      #th-rings2 {
        width: 52.14%;
        top: 68.27%;
        right: 6%;
      }
      #th-devices {
        width: 79.94%;
        top: 69.17%;
        right: 11%;
      }
      #gh-book {
        width: 34.94%;
        top: 81.87%;
        left: 12.5%;
      }
      #gh-tag1 {
        width: 29.94%;
        top: 79.27%;
        right: 9.6%;
      }
      #gh-tag2 {
        width: 29.94%;
        top: 83.47%;
        right: 9.6%;
      }
      #gh-banner {
        width: 100%;
        top: 87.07%;
        left: 0;
      }
  	}
  }
}