body.lifestyle {
  background-color: white;
  text-align: center;
  .top-background {
    background-image: image-url("page_lifestyle/LC0A52071.jpg");
  }
  .portfolio-text-insert {
    color: #76787a;
    h2 {
      font-family: 'Gotham A', 'Gotham B';
      text-transform: uppercase;
      margin-top: 50px;
      margin-bottom: 25px;
      font-size: 20px;
      letter-spacing: 5px;
      p {
        font-size: 14px;
      }
    }
  }
  .content {
    .image-container-thespot {
      position: relative;
      padding-top: 104.44%;
      img {
        position: absolute;
      }
      #spot-left {
        width: 25.8%;
        top: 14%;
        left: 6.4%;
      }
       #spot-right {
        width: 25.8%;
        top: 14%;
        right: 5.4%;
      }
      #spot_imac {
        width: 46%;
        top: 5.53%;
        left: 27%;
      }
      #about {
        width: 18.575%;
        top: 40.77%;
        right: 12.1%;
      }
      #grid {
        width: 50.96%;
        top: 40.47%;
        left: 5.3%
      }
    }

    .image-container-luterra {
      position: relative;
      padding-top: 85.44%;
      img {
        position: absolute;
      }
      #logo {
        width: 14%;
        top: 0.57%;
        left: 7.7%;
      }
      #luterra2 {
        width: 27.47%;
        top: 20.05%;
        left: 7%;
      }
      #luterra3 {
        width: 45.47%;
        top: 53.05%;
        left: 0;
      }
      #luterra-letterhead {
        width: 56.4%;
        top: 3.9%;
        right: 6%;
      }
      #luterra4 { 
        width: 56.4%;
        top: 41.2%;
        right: 6%;
      }
      #nature { 
        width: 43%;
        top: 70.2%;
        right: 0;
      }
    }
    .image-container-thechic {
      position: relative;
      padding-top: 74.44%;
      margin-bottom: 150px;
      img {
        position: absolute;
      }
      #diving {
        width: 15.17%;
        top: -5.73%;
        left: 7.81%;
      }
      #onsen-products {
        width: 53.54%;
        top: 1.57%;
        right: 3%;
      }
      #onsen-imac {
        width: 62.04%;
        top: 38.47%;
        left: 18.9%;
      }
      #cards {
        width: 24.64%;
        top: 83.47%;
        right: 4.2%;
      }
      #brochure {
        width: 42.94%;
        top: 66.57%;
        left: 7.3%;
      }
    }
    .image-container-tanya {
      position: relative;
      padding-top: 74.44%;
      margin-bottom: 180px;
      img {
        position: absolute;
      }
      #skinlaundry1 {
        width: 52.94%;
        top: 5.27%;
        right: 8%;
      }
      #skinlaundry2 {
        width: 52.94%;
        top: 27.47%;
        right: 8%;
      }
      #skinlaundry3 {
        width: 26%;
        top: 20.07%;
        left: 7.1%;
      }
      #skinlaundry-imac {
        width: 62.04%;
        top: 44.07%;
        left: 18.9%;
      }
    }
    .image-container-selvarey {
      position: relative;
      padding-top: 84.44%;
      img {
        position: absolute;
      }
      #foursquare {
        width: 27.17%;
        top: 6.27%;
        left: 7.81%;
      }
      #bbox {
        width: 33.94%;
        top: 7.57%;
        right: 2.2%;
      }
      #bags {
        width: 13.14%;
        top: 32.17%;
        right: 36%;
      }
      #b-candle {
        width: 13.94%;
        top: 32.17%;
        right: 18%;
      }
      #store {
        width: 47.94%;
        top: 49.87%;
        right: 0%;
      }
    }
    .image-container-challen {
      position: relative;
      padding-top: 84.44%;
      img {
        position: absolute;
      }
      #foursquare {
        width: 27.17%;
        top: 6.27%;
        left: 7.81%;
      }
      #bbox {
        width: 33.94%;
        top: 7.57%;
        right: 2.2%;
      }
      #bags {
        width: 13.14%;
        top: 32.17%;
        right: 36%;
      }
      #b-candle {
        width: 13.94%;
        top: 32.17%;
        right: 18%;
      }
      #store {
        width: 47.94%;
        top: 49.87%;
        right: 0%;
      }
    }
  }
}